<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Add category </h1>
            </ui:define>
            <ui:define name="content">
               
         
                <h:form  id="form">
                    <p:panel header="Please fill in all fields and click Add">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">
                            <h:outputText value="Name:"/>
                            <h:inputText id="nameInputText" required="true" value="#{categoryBean.category.name}" requiredMessage="Please enter name" validatorMessage="Name must be greater than 3 and less than 40">
                            <f:validateLength minimum="3" maximum="40" />
                            
                        </h:inputText>
                        </h:panelGrid>
                        <h:commandButton type="submit" value="Add" action="#{categoryBean.add}" />
                    </p:panel>
                   
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

