<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Add Organization </h1>
            </ui:define>
            
            <ui:define name="content">
                
                <script>
                    function findGeoLocation() {
                        alert("findGeoLocation");
                        
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(geoLocation);

                            //alert("geo location support");
                        } else {
                            // alert("not supported");
                        }
                        
                    } //findGeoLocation
                    

                    function geoLocation(address) {
                        var url = "https://maps.googleapis.com/maps/api/geocode/json?address=";
                        url = url + address + ";sensor=false";
                        alert("url: " + url);
                        var returnText = getJsonObjectPost(url);
                        var obj = JSON.parse(returnText);
                        var address = obj.results[0].formatted_address;
                        //var field = document.getElementById("direction-form:startingaddress");
                        //field.value = address;
                        
                        //alert(address);
                        //alert(loc);
                        
                    } //geoLocation
                    

                    function createXMLHttpRequest() {
                        try {
                            return new ActiveXObject("Msxml2.XMLHTTP");
                        } catch (e) {
                        }
                        
                        try {
                            return new ActiveXObject("Microsoft.XMLHTTP");
                        } catch (e) {
                        }
                        
                        try {
                            return new XMLHttpRequest();
                        } catch (e) {
                        }
                        
                        alert("XMLHttpRequest not supported");
                        
                        return null;
                        
                    } //createXMLHttpRequest
                    

                    function getJsonObjectPost(url)
                    {
                        var xhReq = createXMLHttpRequest();
                        
                        try {
                            xhReq.open("GET", url, false);
                            xhReq.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                            xhReq.send();
                        }
                        catch (e) {
                            return getJsonErrorMsg("Error communicating with server, exception encountered.");
                        }

                        if (xhReq.status == "200") {
                            return xhReq.responseText;
                        }
                        else if (xhReq.status == "500") {
                            return getJsonErrorMsg("Application error.");
                        }
                        else {
                            return getJsonErrorMsg("Error communicating with server.");
                        }
                        
                    } //getJsonObjectPost


                    function getJsonErrorMsg(error) {
                        return "({'Error':true, 'Message':'" + error + "'})";
                    }
                </script>
                
                
                <h:form  id="form">
                    
                    <p:panel header="Please fill in all fields and click Add">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">
                            
                            <h:outputLabel value="Name:" style="font-weight: bold"/>
                            <h:inputText id="nameInputText" required="true" style="width: 300px"
                                         value="#{organizationBean.organization.name}" 
                                         requiredMessage="Please enter name" 
                                         validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" maximum="40" />
                            </h:inputText>

                            <h:outputLabel value="Email:" style="font-weight: bold"/>
                            <h:inputText id="emailInputText" required="true" style="width: 300px;" 
                                         value="#{organizationBean.organization.email}" 
                                         requiredMessage="Please enter email" 
                                         validatorMessage="Invalid email format">
                                <f:validateLength minimum="3" maximum="40" />
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                            </h:inputText>

                            <h:outputLabel value="Location:" style="font-weight: bold"/>
                            <h:inputText id="locationInputText" required="true" style="width: 300px;"
                                         value="#{organizationBean.organization.location}" 
                                         requiredMessage="Please enter location" 
                                         validatorMessage="Location must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" maximum="40" />
                            </h:inputText>
                            
                            <button onclick="findGeoLocation()">Find Location</button>
                            
                            <h:outputText value="Domain" style="font-weight: bold"/>
                            <h:inputText id="DomainInputText" required="true" style="width: 300px;"
                                         value="#{organizationBean.organization.domain}"
                                         requiredMessage="Please enter domain">
                            </h:inputText>

                            <h:outputLabel value="General Information" style="font-weight: bold"/>
                            <h:inputTextarea id="GeneralInformationInputText" required="true" 
                                             rows="15" cols="40"
                                            value="#{organizationBean.organization.generalInformation}"
                                            requiredMessage="Please enter general information">
                            </h:inputTextarea>
                            
                            <h:outputText value="URL for Video" style="font-weight: bold"/>
                            <h:inputText id="VideoURLInputText" required="true" style="width: 300px;"
                                         value="#{organizationBean.organization.videoUrl}"
                                         requiredMessage="Please enter domain">
                            </h:inputText>

                            <h:outputLabel value="Icon:"  style="font-weight: bold"/>
                            <p:panelGrid columns="2">
                                <p:graphicImage id="iconimage" 
                                                value="#{iconFileBean.iconImage}"
                                                height="48px"
                                                width="48px"/>
                                <p:fileUpload fileUploadListener="#{iconFileBean.handleFileUpload}" 
                                              mode="advanced"
                                              auto="True" 
                                              update="iconimage" 
                                              sizeLimit="10000" 
                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            </p:panelGrid>
                        </h:panelGrid>
                        
                        <h:commandButton type="submit" value="Add" action="#{organizationBean.add}"/>
                        
                    </p:panel>
                    
                </h:form>
            </ui:define>
            
        </ui:composition>
        
    </body>
</html>

