<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Add Service</h1>
            </ui:define>
            <ui:define name="content">


                <h:form  id="form">
                    <p:panel header="Please fill in all fields and click Add">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">
                            <h:outputText value="Name:"/>
                            <h:inputText id="nameInputText" required="true" value="#{serviceBean.service.name}" requiredMessage="Please enter name" validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" maximum="40" />
                            </h:inputText>

                            <h:outputText value="Location:"/>
                            <h:inputText id="locationInputText" required="true" value="#{serviceBean.service.location}" requiredMessage="Please enter location" validatorMessage="Location must be greater than 3 and less than 40">
                                <f:validateLength minimum="6" maximum="50" />
                            </h:inputText>
                            
                            <h:outputText value="Allowed Participants"/>
                            <h:inputText id="allowedParticipantInputText" required="true" value="#{serviceBean.service.allowedParticipant}" requiredMessage="Please enter the number of participants allowed" converterMessage="Allowed Participants must be a number">
                            </h:inputText>
                            
                            <p:outputLabel for="startDateTimeCalendar" value="Start Date"></p:outputLabel>
                            <p:calendar id="startDateTimeCalendar" value="#{calendarBean.date10}"  pattern="MM/dd/yyyy HH:mm:ss" />
                            
                            <p:outputLabel for="endDateTimeCalendar" value="End Date"></p:outputLabel>
                            <p:calendar id="endDateTimeCalendar" value="#{calendarBean.date12}" pattern="MM/dd/yyyy HH:mm:ss" />
                        
                            <h:outputText value="Department"/>
                            <h:selectOneListbox required="true" value="#{serviceBean.service.departmentId}">                               
                                <f:selectItems var="department" value="#{departmentBean.departmentList}" itemLabel="#{department.name}" itemValue="#{department.departmentId}"/>
                            </h:selectOneListbox>
                            
                            <h:outputText value="Category"/>
                            <h:selectOneListbox required="true" value="#{serviceBean.service.categoryId}">                               
                                <f:selectItems var="category" value="#{categoryBean.categoryList}" itemLabel="#{category.name}" itemValue="#{category.categoryId}"/>
                            </h:selectOneListbox>
                            
                        </h:panelGrid>
                        <h:commandButton type="submit" value="Add" action="#{serviceBean.add}" />
                    </p:panel>

                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

