<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1> Categories </h1>
            </ui:define>
            <ui:define name="content">

                <h:form>
                    <p><h:commandButton value="Add" action="addCategory" /></p>
                </h:form>
                <h:form  id="form">
                    <p:dataTable value="#{categoryBean.categoryList}" var="category" selectionMode="single" selection="#{categoryBean.selectedCategory}"  rowKey="#{category.categoryId}" >
                        <p:ajax event="rowSelect" listener="#{categoryBean.onRowSelectNavigate}"  />

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Name</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{category.name}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Creation Date</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{category.createdDate}" />

                        </p:column>
                      
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Id</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{category.categoryId}" />

                        </p:column>


                    </p:dataTable>

                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

