<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                Departments
            </ui:define>
            <ui:define name="content">

                <h:form>
                    <p><h:commandButton value="Add" action="addDepartment" /></p>
                </h:form>
                <h:form  id="form">
                    <p:dataTable value="#{departmentBean.departmentList}" var="department" 
                                 rowKey="#{department.departmentId}"
                                 selection="#{departmentBean.selectedDepartment}"
                                 selectionMode="single">
                        <p:ajax event="rowSelect" listener="#{departmentBean.onRowSelect}"/>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Organization Name</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{departmentBean.findByOrganizationId(department.organizationId)}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Department Name</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{department.name}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Creation Date</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{department.createdDate}" />

                        </p:column>
                      
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Department Id</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{department.departmentId}" />

                        </p:column>

                    </p:dataTable>
                   
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

