<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 

    <body>
        <ui:composition template="masterTemplate.xhtml">

            <ui:define name="top">
                <h4> Department List </h4>
            </ui:define>
            
            <ui:define name="content">
                <h:form  id="form">
                    
                    <h:outputLabel value="Organization:"></h:outputLabel>
                    <h:selectOneMenu value="#{organizationBean.selectedOrganization}">
                        <f:selectItems id="organizationSelected" 
                                       value="#{organizationBean.organizationList}" 
                                       var="_organization" 
                                       itemValue="#{_organization.organizationId}"
                                       itemLabel="#{_organization.name}">
                        </f:selectItems>
                    </h:selectOneMenu>
                    
                    <br/><br/>
                    
                    <p:commandButton value="Search" update="display" 
                                     actionListener="#{organizationBean.getDepartmentList}">
                    </p:commandButton>
                    
                    <br/><br/>
                    
                    <p:dataTable id="display" value="#{departmentBean.departmentList}" var="department">
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Department ID</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{department.departmentId}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Department Name</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{department.name}" />
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">Icon</f:facet>
                            <h:outputText value="#{department.icon}" />
                        </p:column>
                        
                        <p:column>
                            <f:facet name="header">Location</f:facet>
                            <h:outputText value="#{department.location}" />
                        </p:column>
                        
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Email</f:facet>
                            <h:outputText value="#{department.email}" />
                        </p:column>
                      
                        <p:column>
                            <f:facet name="header">Date Created</f:facet>
                            <h:outputText value="#{department.createdDate}" />
                        </p:column>
                    </p:dataTable>
                    
                </h:form>                
            </ui:define>

        </ui:composition>
    </body>

</html>

