<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                Devices
            </ui:define>
            <ui:define name="content">

                <h:form>
                    <p><h:commandButton value="Add" action="add" /></p>
                </h:form>
                <h:form  id="form">

                   
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

