<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Edit Service </h1>
            </ui:define>
            <ui:define name="content">


                <h:form  id="form">
                    <p:panel header="All fields are required and must contain valid information">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">
                            
                            <h:outputText value="Name:"/>
                            <h:inputText id="nameInputText" required="true" value="#{serviceBean.selectedService.name}" requiredMessage="Please enter name" validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" maximum="40" />
                            </h:inputText>
                            
                            <h:outputText value="Location:"/>
                            <h:inputText id="locationInputText" required="true" value="#{serviceBean.selectedService.location}" requiredMessage="Please enter location" validatorMessage="Location must be greater than 3 and less than 40">
                                <f:validateLength minimum="6" maximum="50" />
                            </h:inputText>
                            
                            <h:outputText value="Allowed Participants"/>
                            <h:inputText id="allowedParticipantInputText" required="true" value="#{serviceBean.selectedService.allowedParticipant}" requiredMessage="Please enter the number of participants allowed" converterMessage="Allowed Participants must be a number">
                            </h:inputText>
                            
                            <p:outputLabel for="startDateTimeCalendar" value="Start Date"></p:outputLabel>
                            <p:calendar id="startDateTimeCalendar" value="#{serviceBean.selectedService.startDate}" pattern="MM/dd/yyyy HH:mm:ss" />
                            
                            <p:outputLabel for="endDateTimeCalendar" value="End Date"></p:outputLabel>
                            <p:calendar id="endDateTimeCalendar" value="#{serviceBean.selectedService.endDate}" pattern="MM/dd/yyyy HH:mm:ss" />
                        
                            <h:outputText value="Department"/>
                            <h:selectOneListbox required="true" value="#{serviceBean.selectedService.departmentId}">                               
                                <f:selectItems var="department" value="#{departmentBean.departmentList}" itemLabel="#{department.name}" itemValue="#{department.departmentId}"/>
                            </h:selectOneListbox>
                            
                            <h:outputText value="Category"/>
                            <h:selectOneListbox required="true" value="#{serviceBean.selectedService.categoryId}">                               
                                <f:selectItems var="category" value="#{categoryBean.categoryList}" itemLabel="#{category.name}" itemValue="#{category.categoryId}"/>
                            </h:selectOneListbox>                            
                            
                            
                        </h:panelGrid>
                        <h:commandButton type="submit" value="Update" action="#{serviceBean.update(service)}" />
                        <h:commandButton type="submit" value="Delete" action="#{serviceBean.delete(service)}" />
                        <h:commandButton type="submit" value="Cancel" action="services" />
                    </p:panel>

                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

