<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Edit Department </h1>
            </ui:define>
            <ui:define name="content">


                <h:form  id="form">
                    <p:panel header="All fields are required and must contain valid information">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">
                            <h:outputText value="Organization:"/>
                            <h:outputText value="#{organizationBean.organization.name}"/>                                                     
                            <h:outputText value="Name:"/>
                            <h:inputText id="nameInputText" required="true" value="#{departmentBean.selectedDepartment.name}" requiredMessage="Please enter name" validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" maximum="40" />
                            </h:inputText>
                            <h:outputText value="Email:"/>
                            <h:inputText id="emailInputText" required="true" value="#{departmentBean.selectedDepartment.email}" requiredMessage="Please enter email" validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="6" maximum="50" />
                            </h:inputText>
                            <h:outputText value="Address:"/>
                            <h:inputText id="locationInputText" required="true" value="#{departmentBean.selectedDepartment.location}" requiredMessage="Please enter address" validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="10" maximum="60" />  
                            </h:inputText> 
                            <h:outputText value="Icon:" />
                            <p:panelGrid columns="2">
                                <p:graphicImage id="iconimage" 
                                                value="#{iconFileBean.iconImage}"
                                                height="48px"
                                                width="48px"/>
                                <p:fileUpload fileUploadListener="#{iconFileBean.handleFileUpload}" 
                                              mode="advanced"
                                              auto="True" 
                                              update="iconimage" 
                                              sizeLimit="10000" 
                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            </p:panelGrid>
                        </h:panelGrid>
                        <h:commandButton type="submit" value="Update" action="#{departmentBean.update(department)}" />
                        <h:commandButton type="submit" value="Delete" action="#{departmentBean.delete(department)}" />
                        <h:commandButton type="submit" value="Cancel" action="departments" />
                    </p:panel>

                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

