<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                Services
            </ui:define>
            <ui:define name="content">
            

                <h:form>
                    <p><h:commandButton value="Add" action="addService" /></p>
                </h:form>
                
                <h:form  id="form">
                    <p:dataTable value="#{serviceBean.serviceList}" var="service"
                                 rowKey="#{service.serviceId}"
                                 selection="#{serviceBean.selectedService}"
                                 selectionMode="single">
                        <p:ajax event="rowSelect" listener="#{serviceBean.onRowSelect}"/>
                        
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Service Name</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{service.name}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Location</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{service.location}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Allowed Participants</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{service.allowedParticipant}" />

                        </p:column>
                      
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Start Date</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{service.startDate}" />

                        </p:column>
                    
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">End Date</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{service.endDate}" />

                        </p:column>
                    
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Date Created</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{service.endDate}" />

                        </p:column>

                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

