/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2014, 3:33:41 PM
    Author     : administrator
*/
body
{
    background-color:#999999;
    text-align:center;
    margin-left:auto;
    margin-right:auto;

}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
H1
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:13px; 
    color:#000569;
    font-weight:bold;
    text-transform:uppercase;	

}
.banner
{
    height:100px;
    color: white;
    padding-top: 30px; 
    text-align:center;
    background-image:url("#{resource['images:churchbanner3.jpg']}"); 
    background-repeat:repeat-x;
}
.bannertext{
    color: white;
    text-align:left;
    padding-left: 5px;
    margin-left: 10px;
}
photo {
    width:400px;
    height:250px;
}
ul {
    list-style: none;

    margin:0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
}

.Header
{
    background: linear-gradient(#000569, white);
    width:800px;
    text-align:left;	
    color: #FFFFFF;
}
.HeaderPad
{
    padding: 5px;
    padding-left: 8px;
}
.Middle
{   
    background:url("#{resource['images:backgroundIMG.gif']}") repeat-y 0px;
    width:800px;
    text-align:left;
    position:relative;
    min-height:350px;
    overflow:auto;
    height:auto;
}
.IconImage
{
    float: left;
}

.IconImageContainer
{
    margin-left:auto;
    margin-right:auto;
    width:800px;
    text-align:left;
    min-height:50px;
}
.HomepageLogos
{
    margin-left:60px;
    border:none;
}
.PressRelease
{
    float:right;
    width:160px;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:10px;
    color:#000000;
    text-align:left;
    margin-bottom:3px;


}
.Container
{
    min-width:700px;
    position:relative;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    border:solid 1px black;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:12px;
    color:#000000;
}
/* IE fix */

/** html .Middle {
height: 350px;
overflow:visible;
}*/

.Content
{
    float:left;
    text-align:left;
    padding-left:8px;
    padding-top:10px;
    width:630px;
    overflow:hidden; 

}

.Footer
{
    position:relative;
    clear:both;
    background-color:#000569;
    /*width:800px;*/
    line-height:20px;
    height:20px;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#FFFFFF;
    text-align:left;
    /*padding-left:3px;*/
    width:793px;
    padding-left:8px;
}
.Footer a:link, .Footer a:visited
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#FFFFFF;
    text-decoration:none;
    font-weight:bold;
}
.Footer a:hover
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#CDCDCD;
}
.FooterPad
{
    padding: 5px;
}

.Testimonial TD
{
    padding:10px;
}
.TestimonialPictures
{
    width:35%;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:12px;
    color:#000000;
}
.TestimonialText
{
    width:60%;
    vertical-align:text-top;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:12px;
    color:#000000;
}
#rotating-item-wrapper {
    position: relative;
    width: 980px;
    height: 347px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}