<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">
               <link rel="stylesheet" href="http://cokcc.org/css/guestcalendar.css"/>

            </ui:define>
           



        </head>
        <body>
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    #{calendarDetailBean.service.name}
                </div>

            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                <div class="container calendar-top" >
                  
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <p class="info">
                            #{calendarDetailBean.startDateFormatted} - #{calendarDetailBean.endDateFormatted}
                            at #{calendarDetailBean.service.location}
                            </p>

                        </div>
                        
                    </div>

                    <div class="row">
                        
                        <div class="col-lg-12">
                            <img src="#{calendarDetailBean.service.image}" class="img-responsive" />

                        </div>
                        

                    </div>
                    <div class="row calendar-top">
                        
                        <div class="col-lg-12">
                            <p>
                                #{calendarDetailBean.service.generalInformation}
                            </p>

                        </div>
                        

                    </div>
                    
                </div>




            </ui:define>

        </body>
    </ui:composition>

</html>

