<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>

            <ui:define name="stylesheets">
                <link rel="stylesheet" href="http://cokcc.org/css/guestdefault.css"/>


            </ui:define>


        </head>
        <body>

            <ui:define name="content">

                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>














                <div class="container" >

                    <div class="well">
                        <div class="row row-first-top">

                            <div class="col-md-4 col-md-offset-4">

                                <div class="row-title row-one" id="rowOneId">
                                    <h:link value="WATCH SERMONS" outcome="youtubelist_mobile" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="cliente"> 
                                    Did you watch the sermons online? You can watch recent and archive video sermons from any where.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">

                                <div class="row-title row-two" id="rowTwoId">
                                    <h:link  value="SERVICE TIMES" outcome="firstvisit" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="cliente"> 
                                    We’re so glad you have decided to visit us! You will find a list of commonly 
                                    asked questions below. Please don’t 
                                    hesitate to send us a message admin@cokcc.org to let us know you’re coming!
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="well">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">

                                <div class="row-title row-three" id="rowTwoId">
                                    <h:link  value="LISTEN TO SERMONS" outcome="podcast_mobile" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="cliente"> 
                                    You can listen to our weekly sermons online. Each sermon is filled with a message from God.
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- special event -->
                    <h:panelGroup class="well" rendered="#{yearEventBean.hasEvent}"   layout="block">

                        
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">

                                    <div class="row-title">
                                        <img src="#{yearEventBean.firstSpecialEvent.image}"  class="img-responsive lazy"/>



                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <div class="cliente"> 
                                        <p>Time: #{yearEventBean.firstSpecialEvent.startFormatTime}</p>
                                        <p>Day of week: #{yearEventBean.firstSpecialEvent.dayOfWeek}</p>
                                        <p> Date: #{yearEventBean.firstSpecialEvent.startDateMonthName} #{yearEventBean.firstSpecialEvent.startDayOfMonth}</p>
                                        <p>
                                            #{yearEventBean.firstSpecialEvent.generalInformation}
                                        </p>

                                    </div>
                                </div>
                            </div>

                        
                    </h:panelGroup>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">

                                <div class="row-title row-four" id="rowfourId">
                                    <a href="http://cokcc.org/give.html">GIVE ONLINE</a>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="cliente"> 
                                    Online giving allows for a specific dollar amount to be deducted automatically
                                    from a pay pal account. You can set up online giving either as a one-time donation.

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
                <script>
                    $("#rowOneId").lazyload();
                    $("#rowTwoId").lazyload();
                    $("img.lazy").lazyload();
                    $("#rowfourId").lazyload();

                </script>






            </ui:define>

        </body>
    </ui:composition>

</html>

