<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>

        
        
      <link rel="stylesheet" href="http://cokcc.org/css/guestdonate.css"/>
  
      <link rel="stylesheet" href="http://cokcc.org/css/bootstrap-responsive.css"/>


    </h:head>
    <body>


        <div class="container">



            <div class="row">

                <div class="col-sm-8 blog-main col-centered">

                    <div class="blog-post">
                    
                      
                        <h3 style="padding-top: 10%;">Online giving</h3>
                        <p>Online giving: Online giving allows for a specific dollar amount to be 
                    deducted automatically from a pay pal account. You can set up online giving either as a one-time donation. 
                    Online giving is not only easy, it's also safe and secure. </p>
                        
                    </div><!-- /.blog-post -->

                   
                    
                 

                </div><!-- /.blog-main -->



            </div><!-- /.row -->
            <div class="row">

                <div class="col-sm-8 blog-main col-centered">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations"/>
                <input type="hidden" name="business" value="cokccfinance@gmail.com"/>
                <input type="hidden" name="lc" value="US"/>
                <input type="hidden" name="item_name" value="Christ Our King Community Church"/>
                <input type="hidden" name="no_note" value="0"/>
                <input type="hidden" name="currency_code" value="USD"/>
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"/>
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
            </form>
                </div>
            </div>

        </div><!-- /.container -->

     
     
        
    </body>

</html>


