<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterMobileTemplate.xhtml">
        <head>
            

        </head>
        <body>
            <ui:define name="pageheader">
                <div class="pageChildTitleExtra container-fluid hidden-phone">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5">Giving</div>
                    </div> 
                </div>

            </ui:define>

            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                <iframe src="#{request.contextPath}/faces/mobile/donate_mobile.xhtml" width="100%" height="800"></iframe>

            </ui:define>
        </body>
    </ui:composition>
</html>

