<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">
                 <link rel="stylesheet" href="http://cokcc.org/css/guesteventlist.css"/>

               
            </ui:define>
            

        </head>
        <body>
            <ui:define name="pageheader">
                <div class="pageChildTitleOffSetExtra container-fluid hidden-phone">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5">Events</div>
                    </div> 
                </div>
            </ui:define>
            <ui:define name="content">

                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                <div class="container">
                    <ui:repeat var="event" value="#{yearEventBean.monthEvent}" varStatus="loop">

                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="event-list">
                                    <li>
                                        <time style="background-color: #{loop.index % 2 == 0 ? '#692b90' : '#E0AF41'};" datetime="#{event.date}">
                                            <span class="day">#{event.startFormatTime}</span>
                                            <span class="month">#{event.startDateMonthName} #{event.startDayOfMonth}</span>
                                            <span class="year">#{event.startYear} </span>
                                            <span class="time">#{event.startFormatTime}</span>
                                        </time>
                                        <img alt="#{event.name}" src="#{event.image}" />
                                        <div class="info">
                                            <h2 class="title">#{event.name}</h2>
                                            <p class="desc">#{event.generalInformation}</p>

                                        </div>
                                        

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ui:repeat>
                </div>







            </ui:define>

        </body>
    </ui:composition>

</html>

