<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>

            <ui:define name="stylesheets">

                <link rel="stylesheet" href="http://cokcc.org/css/bootstrap-responsive.css"/>



            </ui:define>
            <ui:define name="javascripts">
                <script src="http://cokcc.org/js/tooltip.js"></script>
                <script src="http://cokcc.org/js/ie10-viewport-bug-workaround.js"></script>
                <script src="http://cokcc.org/js/bootstrap-table.js"></script>
                <script src="http://cokcc.org/js/bootstrap-table.min.js"></script>
                <script src="http://cokcc.org/js/featherlight.gallery.js"></script>
                <script src="http://cokcc.org/js/featherlight.js"></script>

            </ui:define>

        </head>
        <body>
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    Making Your First Visit?
                </div>

            </ui:define>
            <ui:define name="content">


                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>









                <div class="container smallgroup">

                    <div class="row">

                        <p>We’re so glad you have decided to visit us! You will find a list of commonly asked questions below. Please don’t hesitate to send us a message admin@cokcc.org to let us know you’re coming!</p>
                        <h3>What time is service?</h3>
                        <p>
                            <i>Sunday 9:30 a.m Prayer service </i>
                        </p>
                        <p>
                            <i>Sunday 10:00 a.m General service </i>
                        </p>
                        <h3>How do I get there?</h3>
                        <p>
                            <i>1500 Garner Road | Raleigh, NC 27610 | (919) 838-4848 | admin@cokcc.org </i>
                        </p>

                        <h3>What should I wear?</h3>
                        <p>
                            <i>Christ Our king Community Church has a “come as you are” atmosphere. You will see some dressed up; some dressed casual. We have no expectations for attire.</i>
                        </p>


                        <h3>What is a Sunday service like?</h3>
                        <p>
                            <i>Our Sunday services offer powerful live worship and Biblical teaching that is relevant to every day life. Take a look through our 
                                <h:link class="nav-child" value="message archives" outcome="podcast" />
                                to get a feel for what a service is like. Each service lasts about an hour. </i>
                        </p>


                        <h3>Where do my kids go?</h3>
                        <p>
                            <i>We offer special activities for babies, preschoolers, children, Middle School, and High School.</i>
                        </p>





                    </div><!-- end of row 1 -->





                </div>




            </ui:define>

        </body>
    </ui:composition>

</html>


