<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>

            


        </head>
        <body>

            <ui:define name="content">

                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>














                <div class="container" >




                    <div class="row well">
                        <div class="col-md-12 text-center">

                            <img  class="lazy img-responsive" src="http://cokcc.org/images/CliffCharlott.jpg" />
                            <p>Cliff &amp; Charlotte James</p>
                        </div>
                    </div>

                    <div class="row well">
                        <div class="col-md-12 text-center">

                            <img class="lazy img-responsive" src="http://cokcc.org/images/JamesSharon.png" />
                            <p>James &amp; Sharon Rittman</p>
                        </div>
                    </div>



                    <div class="row well">
                        <div class="col-md-12 text-center">

                            <img class="lazy img-responsive" src="http://cokcc.org/images/Adams_small.png" />

                            <p>Colin &amp; Shonte Adams</p>
                        </div>
                    </div>



                    <div class="row well">
                        <div class="col-md-12 text-center">

                            <img class="img-responsive" src="http://cokcc.org/images/Alexander_small.jpg" />
                            <p>Rodney &amp; Latonya Alexander</p>
                        </div>
                    </div>



                    <div class="row well">
                        <div class="col-md-12 text-center">
                            <img class="lazy img-responsive" src="http://cokcc.org/images/ShermanToccara.jpg" />
                            <p>Sherman &amp; Toccara Smith</p>
                        </div>
                    </div>



                    <div class="row well">
                        <div class="col-md-12 text-center">

                            <img class="lazy img-responsive" src="http://cokcc.org/images/Johnsons_small.jpg" />
                            <p>Cameron &amp; Chasity Johnson</p>
                        </div>
                    </div>



                    <div class="row well">
                        <div class="col-md-12 text-center">

                            <img class="lazy img-responsive" src="http://cokcc.org/images/McLean_small.jpg" />
                            <p>Jame &amp; Beth McLean</p>
                        </div>
                    </div>


                    <div class="row well">
                        <div class="col-md-12 text-center">

                            <img class="img-responsive" src="http://cokcc.org/images/Charles_small.jpg" />
                            <p>Ruel Charles</p>
                        </div>
                    </div>
                    <script>

                        $("img.lazy").lazyload();


                    </script>
                </div>







            </ui:define>

        </body>
    </ui:composition>

</html>

