   
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <script>
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'UA-80348517-2', 'auto');
                ga('send', 'pageview');</script>
            <link rel="stylesheet" href="http://cokcc.org/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="http://cokcc.org/css/jquery.loadingModal.min.css"/>

            <link rel="stylesheet" href="http://cokcc.org/css/guesttemplate.css"/>
            <link rel="stylesheet" href="http://cokcc.org/css/guestcommon.css"/>





            <script src="http://cokcc.org/js/jquery.lazyload.min.js"></script>
            <script src="http://cokcc.org/js/jquery-1.11.1.min.js"></script>
            <script src="http://cokcc.org/js/bootstrap.min.js"></script>

            <script src="http://cokcc.org/js/modernizr.js"></script>

            <ui:insert name="stylesheets"></ui:insert>
            <ui:insert name="javascripts"></ui:insert>
            <title><ui:insert name="title">Home</ui:insert></title>
            <script>
                function viewMobile() {
                    top.location.href = "#{facesContext.externalContext.requestContextPath}/faces/mobile/default.xhtml";
                }
                function openSocialSite(site) {
                    top.location.href = site;
                }

                function view(youtubeURL) {
                    top.location.href = youtubeURL;
                }
            </script>

        </h:head>

        <h:body>
            <style>




                .vertical_center {
                    height: 100vh;



                }
                .vertical_center img {
                    position: absolute;
                    top:50%;
                    left:50%;
                    margin: -50px 0px 0px -50px;
                }
                .vertical_center figcaption {
                    color:black;
                    position: absolute;
                    text-align: center;
                    top:65%;
                    left:45%;
                    margin: -50px 0px 0px -50px;
                }


            </style>
            <div class="vertical_center" id="preloader">      



                <figure>
                    <img src="http://cokcc.org/images/preloader.gif" height="64" width="64" alt=""/>
                    <figcaption>Loading please wait</figcaption>
                </figure>



            </div>

            <h:form id="guestForm">


                <div>


                    <style>
                        .navbar-brand,
                        .navbar-nav li a {
                            /* line-height: 70px;
                             height: 70px;*/
                        }
                    </style>

                    <!-- Fixed navbar -->
                    <header>
                        <nav class="navbar navbar-default navbar-fixed-top">
                            <div class="navbar-inner">
                                <div class="container">
                                    <div class="navbar-header">





                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <h:link class="navbar-brand" outcome="default" >
                                            <img src="http://cokcc.org/images/logoTwo.png"  class="image-header"/>
                                        </h:link>

                                        <div class="menu-site-content">Christ Our King Community Church</div>


                                    </div>
                                    <div id="navbar" class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li><h:link value="HOME" outcome="default" /></li>
                                            <li><h:link value="CONTACT US" outcome="register_mobile" /></li>

                                            <li><h:link value="EVENTS" outcome="calendar" /></li>

                                            <li><h:link value="SERMONS" outcome="podcast_mobile" /></li>
                                            <li><h:link value="VIDEOS" outcome="youtubelist_mobile" /></li>
                                            <li><h:link value="MINISTRIES" outcome="ministries_mobile" /></li>


                                            <li><h:link  value="OUR LEADERS" outcome="leaders" /></li>


                                            <li><a href="http://cokcc.org/give.html">GIVE</a></li>

                                        </ul>

                                    </div><!--/.nav-collapse -->
                                </div>
                            </div>
                        </nav>
                    </header>
                    <!-- end of Header div -->
                    <script>
                        function showLoading() {


                            $('body').loadingModal({
                                text: 'Loading...'


                            });
                        }

                    </script>
                    <div class="loadingModal">
                        <script type="text/javascript">
                            showLoading();
                        </script>
                        <style>
                            .contentspacer {
                                padding-top: 15%;
                            }
                        </style>
                        <div class="contentspacer"/>
                        <ui:insert name="content">
                        </ui:insert>
                    </div>






                    <footer id="bottom-footer-id">	

                        <div class="container-fuild">
                            <div class="row-fuild">
                                <div class="address">
                                    <div>1500 Garner Road </div>

                                    <div>Raleigh, NC 27610</div>
                                    <div>admin@cokcc.org</div>

                                </div>
                            </div>
                        </div>
                    </footer>

                </div>

            </h:form>

            <script src="http://cokcc.org/js/init.js"></script>


        </h:body>
    </f:view>



</html>
