<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">

                <link rel="stylesheet" href="http://cokcc.org/css/guestministry.css"/>


            </ui:define>

        </head>

        <body>
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    #{guestDepartmentBean.department.name}
                </div>

            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" ></p:lightBox>
                <div class="container pageChildSection about-header" > 

                    <div class="row">
                        <div class="col-md-9 push-md-3">
                            <div class="pull-left"><img src="#{guestDepartmentBean.department.image1}" class="img-responsive img-dep" /></div>
                            <p>#{guestDepartmentBean.department.generalInformation}</p>

                            
                        </div>



                        <div class="col-sm-3 sidenav">
                            <ui:repeat var="event" value="#{guestDepartmentBean.eventList}" varStatus="status">
                                <div class="well">
                                    <p>#{event.name}</p>
                                    <img class="img-responsive"  src="#{event.image}"/>
                                    <p> #{event.shortGeneralInformation} </p>
                                    <p>  #{event.date}</p>
                                    <p>  #{event.location}</p>
                                </div>
                            </ui:repeat>


                        </div>
                    </div><!-- end of row -->
                </div>















            </ui:define>



        </body>
    </ui:composition>
</html>

