<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">
              
                 <link rel="stylesheet" href="http://cokcc.org/css/bootstrap-responsive.css"/>

            </ui:define>
            <ui:define name="javascripts">
             
                <script src="http://cokcc.org/js/tooltip.js"></script>
                <script src="http://cokcc.org/js/ie10-viewport-bug-workaround.js"></script>

            </ui:define>
        </head>

        <body>

            <ui:define name="content">
                <p:lightBox iframe="true" ></p:lightBox>
                <div class="container-fluid text-center">  
                    <ui:repeat var="department" value="#{guestDepartmentBean.departmentList}" varStatus="status">
                        <div class="row well">
                            <div class="col-lg-12">
                                <fieldset>
                                    <p>
                                        #{department.name} 

                                    </p> 
                                    <p>
                                        <img class="img-responsive" src="#{department.image1}" />
                                    </p>
                                    <p>
                                        #{department.generalInformation} 

                                    </p> 
                                </fieldset>


                            </div>
                        </div>

                    </ui:repeat>
                </div>















            </ui:define>



        </body>
    </ui:composition>
</html>

