<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>
            <link rel="stylesheet" href="http://cokcc.org/css/guestdefault.css"/>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
            </ui:define>
            <ui:define name="javascripts">
               
                <h:outputScript library="js" name="tooltip.js" />
                <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />

            </ui:define>
        </head>

        <body>
                  <ui:define name="pageheader">
                   <div class="pageChildTitleExtra container-fluid hidden-phone">
                       <div class="row">
                           <div class="col-md-2 col-md-offset-5">#{guestDepartmentBean.department.name}</div>
                       </div> 
                   </div>
               </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" ></p:lightBox>
                <div class="container-fluid text-center">  
                    <div class="row content">
                        <header class="container-fluid text-center">
                           
                          
                            <p>#{guestDepartmentBean.department.email}</p>
                        </header>
                        <div class="col-sm-2 sidenav">

                        </div>
                        <div class="col-sm-8 text-left"> 
                          
                            <p>#{guestDepartmentBean.department.generalInformation}</p>

                        </div>
                        <div class="col-sm-2 sidenav">
                            <ui:repeat var="event" value="#{guestDepartmentBean.eventList}" varStatus="status">
                             <div class="well">
                                 <p>#{event.name}</p>
                                  <img height="100" width="100"  src="#{event.image}"/>
                                  <p> #{event.shortGeneralInformation} </p>
                                    <p>  #{event.date}</p>
                                    <p>  #{event.location}</p>
                            </div>
                            </ui:repeat>
                           

                        </div>
                    </div><!-- end of row -->
                </div>















            </ui:define>



        </body>
    </ui:composition>
</html>

