<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterMobileTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">


                <link rel="stylesheet" href="http://cokcc.org/css/guestpodcast.css"/>
                <link rel="stylesheet" href="http://cokcc.org/css/bootstrap-table.css"/>







                
            </ui:define>
            <ui:define name="javascripts">
               <script src="http://cokcc.org/js/tooltip.js"></script>
                <script src="http://cokcc.org/js/ie10-viewport-bug-workaround.js"></script>
                <script src="http://cokcc.org/js/bootstrap-table.js"></script>
                <script src="http://cokcc.org/js/bootstrap-table.min.js"></script>
                <script src="http://cokcc.org/js/featherlight.gallery.js"></script>
                <script src="http://cokcc.org/js/featherlight.js"></script>
            </ui:define>

        </head>
        <body>
            <ui:define name="pageheader">
                <div class="pageChildTitleExtra container-fluid hidden-phone">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5">Podcasts</div>
                    </div> 
                </div>
            </ui:define>
            <ui:define name="content">

                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>
                <ui:repeat var="episode" value="#{podcastBean.episodes}" varStatus="status">

                    <div class="container well">

                        <div class="row">

                            <div class="col-md-12">
                                <a href="#{episode.guid}" data-featherlight="iframe" >
                                    <img src="#{episode.imageURL}" class="img-responsive lazy" />
                                </a>
                                <p>#{episode.title}</p>

                                <p>#{episode.summary}</p>
                                <p>#{episode.author}</p>
                                <p>#{episode.pubDate}</p>

                            </div>
                        </div><!-- end of row 1 -->


                        <script>

                            $("img.lazy").lazyload();


                        </script>

                    </div>

                </ui:repeat>


            </ui:define>

        </body>
    </ui:composition>

</html>


