<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterGuestTemplate.xhtml">

        <body>

            <ui:define name="content">
                <span  class="body2">
                    <p:lightBox id="lighbox2" class="customlightbox"  >
                        <h:outputLink value="#">
                            <h:outputText value="Play" />
                        </h:outputLink>

                        <f:facet name="inline">
                            <p:media value="http://www.youtube.com/v/41-4UpzFxxk"  width="500" height="500" player="flash" />
                        </f:facet>
                    </p:lightBox>
                </span>
            </ui:define>


        </body>
    </ui:composition>
</html>

