/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2016, 8:04:36 PM
    Author     : wtccuser
*/
.about-header {
    font-size: 1.4em;
    padding-bottom: 4%;
}
.pastor-image {
  padding-top: 4%;
}

.middle-section-background-image {
   background-image: url('https://jasonsoroski.files.wordpress.com/2015/05/worship-background_crop1.jpg'); 
   width: 100%; 
   height: 500px; 
   background-repeat: repeat; 
   background-attachment: fixed; 
   float: left;
}

.middle-section-row {
   color: white; 
   padding-left: 5%; 
   padding-right: 5%; 
   padding-top: 10%; 
   font-size: 1.5em;
}

.middle_section  > p
{
    text-align: left;
}
.ul_none
{
   list-style-type:none;   
   text-align: left;
}
.ul_none > li
{  
   font-weight: bold;
}
.ul_none > li > p
{
   list-style-type:none;
   font-weight: normal;
   padding-top: 2%;
   padding-left: 5%;
   text-align: left;
}
.ul_circle
{
   list-style-type:circle; 
}
q {	
display: block;
padding: 0.3em;
border: 1px double #CCC;
border-width: 2px 0;
color: #333;
background: none;
text-align: left;	
}



