/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2015, 6:29:57 PM
    Author     : wtccuser
*/
.ui-btn-custom{
    height:70px;
    font-size: 1.5em;
    
}
html{font-size:110%;} 
@media(min-width:60em)
{
  html{font-size: 90%}
}
