


/* unvisited link */


.areyouvisiting {
    margin-top: 40px;
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
    height:400px;
    width:100%;
    float:left;
    color:white;
    overflow:scroll;
    text-align: center;
    background-image:url("http://cokcc.org/images/sample.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.areyouvisiting-h3 {

    margin-top: 100px;
}
.areyouvisiting-row {

    margin-top: 40px;
}

.body2{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:13px; 
    font-weight:bold;
    text-transform:uppercase;
}
.body2 A:link {color: #0000CC; text-decoration: underline overline}
.body2 A:visited {color: #0000CC; text-decoration: underline overline}
.body2 A:active {color: #0000CC; text-decoration: underline overline}
.body2 A:hover {color: #0000CC; text-decoration: underline; color: green;}

.btn_overload {
    border-color: #692b90;

}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 1200px;
    margin: auto;
}
.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.circle{
    border-radius: 50%;
    margin: 0.15em;
    font-size: 3em;
}
#clickableAwesomeFont {
    cursor: pointer
}
.change-icon-color {
    color: #692b90;
}
.change-icon > .fa:nth-child(2) {
    display: none;
}
.change-icon:hover > .fa:nth-child(1) {
    display: none;
}
.change-icon:hover > .fa:nth-child(2) {
    display: inherit;
}
.customlightbox
{
    color: blue;
}
.eventname{
    font-size: 18px; 
    float:right;              
}
.fa-calendar {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}
.fa-twitter{
    background: #4099FF;
    color: #FFFFFF;
    padding: 0.05em 0.07em;
}

.fa-google-plus{
    color: #FFFFFF;
    background: #dd4b39;
    padding: 0.1em 0.1em;
}  
.fa-hand-paper-o {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}
.fa-users {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}
.fa-play-circle {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

.fa-dribbble{
    color: #ea4c89;
}

.fa-pinterest{
    color: #cb2027;
}

.fa-facebook{
    background: #3B5998;
    color: #FFFFFF;
    padding: 0.05em 0.3em;
}
.fa-rss{
    background: orange;
    color: #FFFFFF;
    padding: 0.25em 0.25em;
}
.fa-mobile{
    background: black;
    color: #FFFFFF;
    padding: 0.25em 0.25em;

}
.fa-youtube{
    background: #bb0000;
    color: #FFFFFF;
    padding: 0.25em 0.25em;

}
.fa-facebook1, .fa-facebook-square1 {
    color: #3b5998
}
.Footer
{
    position:relative;
    clear:both;
    height:50px;
    background-color: #3e3436;
    /*width:800px;*/
    line-height:20px;   
    font-family:Verdana, Arial, Sans-Serif;
    font-size:14px;
    color:white;
    text-align:center;
    margin-top:10px;
    width: 100%;
}
.Footer-body {
    margin-top: 10px;
}

.Footer span {
    padding: 5px;
}
.Footer a:link, .Footer a:visited
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#FFFFFF;
    text-decoration:none;
    font-weight:bold;
}
.Footer a:hover
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#CDCDCD;
}
.FooterPad
{
    padding: 5px;
}





.imagetext
{
    float:left;
    padding-right: 10px;
}




.col-padding {
    padding: 10px;
}
.smallerText{
    font-size: 10px;
}


.right{
    float:right; width:60%;


}
.icons
{
    margin-top: .33em;
}
.iconsection {
    float:left;
    width:1000%;
    height:300px;
}
.HeaderWeb
{

    position: fixed;
    top: 0;
    left: 0;
    z-index: 777;
    height: 44px;
    width:100%;
    text-align:left;	
    color: #FFFFFF;
}
.HeaderPad
{
    padding: 5px;
    padding-left: 8px;
}
.Middle
{   
    /*background:url("#{resource['images:backgroundIMG.gif']}") repeat-y 0px;*/
    background: linear-gradient(white, white);
    width:100%;
    text-align:left;
    min-height:350px;
    overflow:auto;
    height:auto;
}
.IconImage
{
    float: left;
}

.IconImageContainer
{
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    text-align:left;
    min-height:50px;
}
.HomepageLogos
{
    margin-left:60px;
    border:none;
}
.Ministries
{
    background: linear-gradient(white,  whitesmoke);
    width:1000px;
    text-align: center;
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
}

.pageSection {

    height:300px;
    width: 100%;
    font-familiy: EB Garamond;
    font-size: 2.0em;
    color:#692b90;
    background:linear-gradient(  white ,  white);
}
.pageTitle {
    float:left;
    margin-left: 60px;
    margin-top: 80px;
    width: 60%;
    line-height: 90%;

}
.pageTitleImage {
    float:left;
}
.pageTitleExtra {
    font-style:normal;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    margin-left: 100px;
    margin-top:10px;
    line-height: 95%;
}
.pageTitleTime {

    font-style:normal;
    font-size: small;
    margin-left: 100px;



}
.pageTitleAddress {

    font-style:normal;
    font-size: .24em;
    margin-left: 5px;
    margin-top:10px;
    line-height: 95%;


}
.pageTitleAddressTemplate {

    font-style:normal;
    font-size: small;
    float: left;
    margin-top:10px;
    line-height: 95%;


}
.pageRightButton{
    float:right;
    font-size: 2.2em;
    margin-right: 130px;
    margin-top: 80px;
    width: 20%;
}
.panel {
    border: 0;
}
.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{

}
.panel-body-image {

}

.panel-body {


    background:url("http://cokcc.org/images/playbackground.jpg") repeat-y 0px;
    width: 50%;
    margin: 0 auto; 
    height: 300px;


}
.Pastor{
    text-align:left;
    font-size: 22px;
    color: black;
}
.podcast {
    font-size: 20px;
}
.podcast table {
    width:100%;
}
photo {
    width:400px;
    height:250px;
}
.PressRelease
{
    float:right;
    width:160px;
    padding-top:10px;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:10px;
    text-align:left;
    margin-bottom:3px;


}



.Content
{
    float:left;
    overflow:hidden; 
}
.iframediv
{

    overflow: hidden; 

}
.iframediv {

}
.donate {
    font-size:20px;
    color:pink;
}
.Locator {
    /*border:solid 1px black;*/
    margin-left:40px;
    padding-top:10px;
    background: linear-gradient(gray, white);
}


#rotating-item-wrapper {
    position: relative;
    width:100%;

}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.spanContentLabelFooter 
{
    margin-left: 10px;   
}
.spanContentValueFooter 
{
    margin-left: 20px;   
}

.stayconnected_outer{
    margin-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
    float:left;
    background: white;
    text-align: center;
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.stayconnected_inner{
    width:50%;
}

.stayconnected {
    margin-top: 20px;


    float:left;
    background: white;
    text-align: center;
}
.stayconnected-text {

}
.stayconnected-centerblock {
    display: table;
    margin: 0 auto;
}

.locator {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    background-color: whitesmoke;

}


.ui-inputfield {
    margin-right: 10px;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
    background-color: transparent;
    box-shadow: 0px 1px 1px #8F8F8F inset;
    color: #000;
    width: 250px;
}

.upcomingfeatures {
    margin-top: 40px;
    margin-left: 15%;
    width:100%;
    float:left;
    color:black;
    overflow:scroll;
    text-align: center;
    background:white;
}
.upcomingfeatures-h3 {
    margin-right: 400px;
    margin-top: 100px;
}
.upcomingfeatures-p {
    color:#692b90;
    font-size:20px;
}
.upcomingfeatures-row {
    margin-top: 40px;
    position: relative;
}
.upcomingfeatures-text
{
    z-index:100;
    position:relative;    
    color:blue;
    background: grey;   
    font-size:24px;
    font-weight:bold;
    right:0px;
    top:0px;
}
.upcomingfeatures-image
{
    position:absolute;
    left:0;
    top:0;
}

.upcomingfeatures-caption {
    width:20%;
    top: 0;
    right:0;
    position: absolute;
    background:pink;
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.upcomingfeatures-thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.upcomingfeatures h3 {
    color: black;
    -webkit-font-smoothing: antialiased;
    margin-right: 400px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.upcomingfeatures-caption h4 {
    color: pink;
    -webkit-font-smoothing: antialiased;
}


.inputText {
    padding-left:10px;
    margin-top: 20px;
    margin-left: -10px;
}

.minitext {
    margin: 0; 
    font-size: 10px;
}

#commandbutton {
    display: block;
    margin-top: 10px;
    margin-left: 0;
}
td.contact {
    padding: 5px;

}

.socialmediatitle {
    color:white; 
    font-size: 18px;
}

.headerSiteSection {
    background:linear-gradient(  #000569 ,  pink);
    width: 100%;
    height: 250px;
}
.headerSiteText {
    float:left;
    height:20px;
    font-size:30px;
    //font-family: Helvetica;
    font-family: 'Open Sans', sans-serif;
    //font-family: 'Tangerine', serif;
    color:white;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
}
.headerIcons {
    float:right;
    height:20px;
    margin-top: 40px;
    margin-right: 50px;
    font-size:20px;
    color:white;
}
.headerShortSection {
    background: -webkit-linear-gradient(left, #692b90 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #692b90 , white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #692b90 , white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #692b90 , white); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    width:100%;
    padding-top: 55px;
    height: 170px;
}



.clearfix:after {
    display:block;
    clear:both;
}






/* navbar */
.navbar-default {
    background-color: #404040;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #CCCCCC;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #CCCCCC;
    border-bottom-color: #777;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #CCCCCC;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.nav-pills {
    font-size: 14px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #692b90;

}

.nav-pills > li.active > a:hover {
    background-color: #692b90;
    color:white;


}

.custom > li > a:hover {
    color: black;
    font-size: 14px;

}

.center-block {
    margin-left:auto;
    margin-right:auto;

}
.text-center {
    text-align:center

}

