


/* unvisited link */


.areyouvisiting {
    margin-top: 40px;
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
    height:400px;
    width:100%;
    float:left;
    color:white;
    overflow:scroll;
    text-align: center;
    background-image:url("http://cokcc.org/images/sample.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.areyouvisiting-h3 {

    margin-top: 100px;
}
.areyouvisiting-row {

    margin-top: 40px;
}
body
{
    /*background:linear-gradient(blueviolet, blueviolet);*/
    width: 100%;
    background:white;
    text-align:center;
    margin-left:auto;
    margin-right:auto;

}
.body2{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:13px; 
    font-weight:bold;
    text-transform:uppercase;
}
.body2 A:link {color: #0000CC; text-decoration: underline overline}
.body2 A:visited {color: #0000CC; text-decoration: underline overline}
.body2 A:active {color: #0000CC; text-decoration: underline overline}
.body2 A:hover {color: #0000CC; text-decoration: underline; color: green;}
.biggertText{
    font-size: 20px;
}
.banner
{
    height:100px;
    color: white;
    padding-top: 30px; 
    text-align:center;
    background-image:url("#{resource['images:churchbanner3.jpg']}"); 
    background-repeat:repeat-x;
}
.bannderImage {
    float:right;
    font-style:italic;
    font-size: 14px;
    background-color: white;
    color: black;
    vertical-align: top; /* here */
}
.bannertext{
    padding-top: 5px;
    color: white;
    font-size: 28px;
    text-align:left;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.border { 
    width: 400px;
    padding: 10px;
    border-top: 0px solid #000569;
    border-bottom:1px solid #000569;
    background-image: 
        linear-gradient(#000569, windowframe),
        linear-gradient(#000569, windowframe)
        ;
    background-size:0px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
}
.btn_overload {
    border-color: #692b90;

}
.calendar-text { margin-top: .3em; }
.carouselSection {
    float:right;
    width: 50%;


}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 1200px;
    margin: auto;
}
.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.circle{
    border-radius: 50%;
    margin: 0.15em;
    font-size: 3em;
}
#clickableAwesomeFont {
    cursor: pointer
}
.change-icon-color {
    color: #692b90;
}
.change-icon > .fa:nth-child(2) {
    display: none;
}
.change-icon:hover > .fa:nth-child(1) {
    display: none;
}
.change-icon:hover > .fa:nth-child(2) {
    display: inherit;
}
.customlightbox
{
    color: blue;
}
.eventname{
    font-size: 18px; 
    float:right;              
}
.fa-calendar {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}
.fa-twitter{
    background: #4099FF;
    color: #FFFFFF;
    padding: 0.05em 0.07em;
}

.fa-google-plus{
    color: #FFFFFF;
    background: #dd4b39;
    padding: 0.1em 0.1em;
}  
.fa-hand-paper-o {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}
.fa-users {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}
.fa-play-circle {
    background: white;
    color: blue;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

.fa-dribbble{
    color: #ea4c89;
}

.fa-pinterest{
    color: #cb2027;
}

.fa-facebook{
    background: #3B5998;
    color: #FFFFFF;
    padding: 0.05em 0.3em;
}
.fa-rss{
    background: orange;
    color: #FFFFFF;
    padding: 0.25em 0.25em;
}
.fa-mobile{
    background: black;
    color: #FFFFFF;
    padding: 0.25em 0.25em;

}
.fa-youtube{
    background: #bb0000;
    color: #FFFFFF;
    padding: 0.25em 0.25em;

}
.fa-facebook1, .fa-facebook-square1 {
    color: #3b5998
}
.Footer
{
    position:relative;
    clear:both;
    height:50px;
    background-color: #3e3436;
    /*width:800px;*/
    line-height:20px;   
    font-family:Verdana, Arial, Sans-Serif;
    font-size:14px;
    color:white;
    text-align:center;
    margin-top:10px;
    width: 100%;
}
.Footer-body {
    margin-top: 10px;
}

.Footer span {
    padding: 5px;
}
.Footer a:link, .Footer a:visited
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#FFFFFF;
    text-decoration:none;
    font-weight:bold;
}
.Footer a:hover
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#CDCDCD;
}
.FooterPad
{
    padding: 5px;
}


H1
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:13px; 
    color:#000569;
    font-weight:bold;
    text-transform:uppercase;	

}


.imagetext
{
    float:left;
    padding-right: 10px;
}


.row div {
    background-color:white;
}

.col-padding {
    padding: 10px;
}
.smallerText{
    font-size: 10px;
}


.right{
    float:right; width:60%;


}
.icons
{
    margin-top: .33em;
}
.iconsection {
    float:left;
    width:1000%;
    height:300px;
}
.HeaderWeb
{

    position: fixed;
    top: 0;
    left: 0;
    z-index: 777;
    height: 44px;
    width:100%;
    text-align:left;	
    color: #FFFFFF;
}
.HeaderPad
{
    padding: 5px;
    padding-left: 8px;
}
.Middle
{   
    /*background:url("#{resource['images:backgroundIMG.gif']}") repeat-y 0px;*/
    background: linear-gradient(white, white);
    width:100%;
    text-align:left;
    min-height:350px;
    overflow:auto;
    height:auto;
}
.IconImage
{
    float: left;
}

.IconImageContainer
{
    margin-left:auto;
    margin-right:auto;
    width:1000px;
    text-align:left;
    min-height:50px;
}
.HomepageLogos
{
    margin-left:60px;
    border:none;
}
.Ministries
{
    background: linear-gradient(white,  whitesmoke);
    width:1000px;
    text-align: center;
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
}
.movedown {
    margin-top: 70px;

}
.moveright {
    margin-left:70px;

}
.pageSection {

    height:300px;
    width: 100%;
    font-familiy: EB Garamond;
    font-size: 2.0em;
    color:#692b90;
    background:linear-gradient(  white ,  white);
}
.pageTitle {
    float:left;
    margin-left: 60px;
    margin-top: 80px;
    width: 60%;
    line-height: 90%;

}
.pageTitleImage {
    float:left;
}
.pageTitleExtra {
    font-style:normal;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    margin-left: 100px;
    margin-top:10px;
    line-height: 95%;
}
.pageTitleTime {

    font-style:normal;
    font-size: small;
    margin-left: 100px;



}
.pageTitleAddress {

    font-style:normal;
    font-size: .24em;
    margin-left: 5px;
    margin-top:10px;
    line-height: 95%;


}
.pageTitleAddressTemplate {

    font-style:normal;
    font-size: small;
    float: left;
    margin-top:10px;
    line-height: 95%;


}
.pageRightButton{
    float:right;
    font-size: 2.2em;
    margin-right: 130px;
    margin-top: 80px;
    width: 20%;
}
.panel {
    border: 0;
}
.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{

}
.panel-body-image {

}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
} 
.panel-body {


    background:url("http://cokcc.org/images/playbackground.jpg") repeat-y 0px;
    width: 50%;
    margin: 0 auto; 
    height: 300px;


}
.Pastor{
    text-align:left;
    font-size: 22px;
    color: black;
}
.podcast {
    font-size: 20px;
}
.podcast table {
    width:100%;
}
photo {
    width:400px;
    height:250px;
}
.PressRelease
{
    float:right;
    width:160px;
    padding-top:10px;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:10px;
    text-align:left;
    margin-bottom:3px;


}
.text-color-overload-black {
    color:black;
    font-weight: bold;
}
.Container
{
    width:100%;
}
/* IE fix */

/** html .Middle {
height: 350px;
overflow:visible;
}*/

.Content
{
    float:left;
    overflow:hidden; 
}
.iframediv
{

    overflow: hidden; 

}
.iframediv {

}
.donate {
    font-size:20px;
    color:pink;
}
.Locator {
    /*border:solid 1px black;*/
    margin-left:40px;
    padding-top:10px;
    background: linear-gradient(gray, white);
}


#rotating-item-wrapper {
    position: relative;
    width:100%;

}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
section i {
    vertical-align: middle;
    transition: color .9s ease-in-out;    
}

.spanContentLabelFooter 
{
    margin-left: 10px;   
}
.spanContentValueFooter 
{
    margin-left: 20px;   
}

.stayconnected_outer{
    margin-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
    float:left;
    background: white;
    text-align: center;
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.stayconnected_inner{
    width:50%;
}

.stayconnected {
    margin-top: 20px;


    float:left;
    background: white;
    text-align: center;
}
.stayconnected-text {

}
.stayconnected-centerblock {
    display: table;
    margin: 0 auto;
}

.Testimonial TD
{
    padding:10px;
}
.TestimonialPictures
{
    width:35%;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:12px;
    color:#000000;
}
.TestimonialText
{
    width:60%;
    vertical-align:text-top;
    font-family:Verdana, Arial, Sans-Serif;
    font-size:12px;
    color:#000000;
}


.locator {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

    background-color: whitesmoke;

}


.ui-inputfield {
    margin-right: 10px;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
    background-color: transparent;
    box-shadow: 0px 1px 1px #8F8F8F inset;
    color: #000;
    width: 250px;
}

.upcomingfeatures {
    margin-top: 40px;
    margin-left: 15%;
    width:100%;
    float:left;
    color:black;
    overflow:scroll;
    text-align: center;
    background:white;
}
.upcomingfeatures-h3 {
    margin-right: 400px;
    margin-top: 100px;
}
.upcomingfeatures-p {
    color:#692b90;
    font-size:20px;
}
.upcomingfeatures-row {
    margin-top: 40px;
    position: relative;
}
.upcomingfeatures-text
{
    z-index:100;
    position:relative;    
    color:blue;
    background: grey;   
    font-size:24px;
    font-weight:bold;
    right:0px;
    top:0px;
}
.upcomingfeatures-image
{
    position:absolute;
    left:0;
    top:0;
}

.upcomingfeatures-caption {
    width:20%;
    top: 0;
    right:0;
    position: absolute;
    background:pink;
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.upcomingfeatures-thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.upcomingfeatures h3 {
    color: black;
    -webkit-font-smoothing: antialiased;
    margin-right: 400px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.upcomingfeatures-caption h4 {
    color: pink;
    -webkit-font-smoothing: antialiased;
}


.inputText {
    padding-left:10px;
    margin-top: 20px;
    margin-left: -10px;
}

.minitext {
    margin: 0; 
    font-size: 10px;
}

#commandbutton {
    display: block;
    margin-top: 10px;
    margin-left: 0;
}
td.contact {
    padding: 5px;

}
.row.vertical-divider {
    overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
}
.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}
.socialmediatitle {
    color:white; 
    font-size: 18px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightblue;
    margin: 1em 0;
    padding: 0; 
}
.headerSiteSection {
    background:linear-gradient(  #000569 ,  pink);
    width: 100%;
    height: 250px;
}
.headerSiteText {
    float:left;
    height:20px;
    font-size:30px;
    //font-family: Helvetica;
    font-family: 'Open Sans', sans-serif;
    //font-family: 'Tangerine', serif;
    color:white;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
}
.headerIcons {
    float:right;
    height:20px;
    margin-top: 40px;
    margin-right: 50px;
    font-size:20px;
    color:white;
}
.headerShortSection {
    background: -webkit-linear-gradient(left, #692b90 , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #692b90 , white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #692b90 , white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #692b90 , white); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    width:100%;
    padding-top: 55px;
    height: 170px;
}
.headerShortSectionOne {
    background:linear-gradient(  white ,  #cccccc);
    width: 100%;
    padding-top: 75px;
    height: 200px;
    color:black;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 400;
}
.iconbackground {
    background-image: url("#{resource['images:cokcc.jpg']}");
    background-repeat: repeat-y;
}

.clearfix:after {
    display:block;
    clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background: linear-gradient(to right, #692b90 , #692b90);

}

.menu {
    width:1000px;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}

.menu a {
    transition:all linear 0.15s;
    color:white;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:black;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#692b90;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#692b90;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#692b90;
}

/* navbar */
.navbar-default {
    background-color: #404040;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #CCCCCC;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #CCCCCC;
    border-bottom-color: #777;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #CCCCCC;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.nav-pills {
    font-size: 14px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #692b90;

}

.nav-pills > li.active > a:hover {
    background-color: #692b90;
    color:white;


}

.custom > li > a:hover {
    color: black;
    font-size: 14px;

}

.center-block {
    margin-left:auto;
    margin-right:auto;

}
.text-center {
    text-align:center

}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}
