/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2015, 1:03:15 PM
    Author     : administrator
*/
.areyouvisiting {
    margin-top: 40px;
    font-size: 1.2em;
    font-family: 'EB Garamond', serif;
    height:400px;
    width:100%;
    float:left;
    color:white;
    overflow:scroll;
    text-align: center;
    background-image:url("http://cokcc.org/images/sample.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.areyouvisiting-h3 {

    margin-top: 100px;
}
.areyouvisiting-row {

    margin-top: 40px;
}
.pageSection {

    height:300px;
    width: 100%;
    font-familiy: EB Garamond;
    font-size: 2.0em;
    color:#692b90;
    background:linear-gradient(  white ,  white);
}
.pageTitle {
    float:left;
    margin-left: 60px;
    margin-top: 80px;
    width: 60%;
    line-height: 90%;

}
.pageTitleImage {
    float:left;
}
.pageTitleExtra {
    font-style:normal;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
    margin-left: 100px;
    margin-top:10px;
    line-height: 95%;
}
.pageRightButton{
    float:right;
    font-size: 2.2em;
    margin-right: 130px;
    margin-top: 80px;
    width: 20%;
}
.pageTitleAddress {

    font-style:normal;
    font-size: .24em;
    margin-left: 5px;
    margin-top:10px;
    line-height: 95%;


}
.stayconnected_outer{
    margin-top: 20px;
    padding-left: 75px;
    padding-right: 75px;
    float:left;
    background: white;
    text-align: center;
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.stayconnected_inner{
    width:50%;
}

.stayconnected {
    margin-top: 20px;


    float:left;
    background: white;
    text-align: center;
}
.stayconnected-text {

}
.stayconnected-centerblock {
    display: table;
    margin: 0 auto;
}
.upcomingfeatures {
    margin-top: 40px;
    margin-left: 15%;
    width:100%;
    float:left;
    color:black;
    overflow:scroll;
    text-align: center;
    background:white;
}
.upcomingfeatures-h3 {
    margin-right: 400px;
    margin-top: 100px;
}
.upcomingfeatures-p {
    color:#692b90;
    font-size:20px;
}
.upcomingfeatures-row {
    margin-top: 40px;
    position: relative;
}
.upcomingfeatures-text
{
    z-index:100;
    position:relative;    
    color:blue;
    background: grey;   
    font-size:24px;
    font-weight:bold;
    right:0px;
    top:0px;
}
.upcomingfeatures-image
{
    position:absolute;
    left:0;
    top:0;
}

.upcomingfeatures-caption {
    width:20%;
    top: 0;
    right:0;
    position: absolute;
    background:pink;
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.upcomingfeatures-thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.upcomingfeatures h3 {
    color: black;
    -webkit-font-smoothing: antialiased;
    margin-right: 400px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.upcomingfeatures-caption h4 {
    color: pink;
    -webkit-font-smoothing: antialiased;
}
.errorMessage {
    color:red;
}
.infoMessage {
    color:blue;
}
.warnMessage {
    color:orange;
}
.btn_overload {
    border-color: #692b90;

}
