/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 9:49:43 PM
    Author     : wtccuser
*/

.noBullets{
    list-style:none;
    padding:auto;
}


#last-footer h5{
    text-align:center;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 1.55em;
    
}
footer a:link, footer a:visited
{
   font-family: Helvetica, sans-serif, Arial;
    font-size: 1.0em;
    color:#777;
    text-decoration:none;
    font-weight:bold;
}
.footlinks li a{
    text-align:center;
    margin-left:5px;
}
.subscribe li{padding:3px;}

  
.Footer
{
    position:relative;
    clear:both;
    height:50px;

    /*width:800px;*/
    line-height:20px;   
    font-family:Verdana, Arial, Sans-Serif;
    font-size:14px;
    color:black;
    text-align:center;
    margin-top:10px;
    width: 100%;
}
.Footer-body {
    margin-top: 10px;

    position:relative;
    clear:both;
    /*height:50px;*/
    /* background-color: #3e3436;*/
    /*width:800px;*/
    line-height:20px;   
    font-family:Verdana, Arial, Sans-Serif;
    color:#3e3436;
    text-align:center;
    margin-top:10px;
    width: 100%;
}

.Footer span {
    padding: 5px;
}

.Footer a:hover
{
    font-family:Verdana, Arial, Sans-Serif;
    font-size:9px;
    color:#CDCDCD;
}
.FooterPad
{
    padding: 5px;
}
.headerSiteText {
    float:left;
    height:20px;
    font-size:48px;
    //font-family: Helvetica;
    font-family: Helvetica, sans-serif, Arial;
    //font-family: 'Tangerine', serif;
    color:white;

    margin-top: 30px;
    margin-left: 50px;
}
.headerIcons {
    float:right;
    height:20px;
    margin-top: 40px;
    margin-right: 50px;
    font-size:20px;
    color:white;
}
.headerShortSection {
     background-image: url("http://cokcc.org/images/thinnerheader.png");
    /*
    background-image: url("http://cokcc.org/images/webheader.png");
    */
    margin-left: 0;
    margin-right: 0;
    background-repeat: repeat-x;
    width:100%;
    padding-top: 3%; 
    height: 340px;

}
#first_half {
    height: 150px;
}
#second_half {
    height: 150px;
}
.pageTitleExtra {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: Helvetica, sans-serif, Arial;

    /*font-size: 1em;*/
    font-size: .52em;
    font-weight: bold;
    width: 800px;
    color: #404040;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    float: none;
    display: inline-block;
vertical-align: middle;
    /*padding-top: 7%;*/
    /*line-height: 100%;*/
}

/* navbar */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background-color: #692b90;
}
#dropdown-menu-category  > a:hover, #dropdown-menu-category  > a:focus {
    color: black;
    background-color: white;
}


.navbar-default {
    background-color: #404040;
    border-color: #E7E7E7;
    font-size: 1em;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #CCCCCC;
}
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
    font-size:      1em;

}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;

}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #CCCCCC;
    border-bottom-color: #777;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #CCCCCC;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;

}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;

}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.nav-submenu {
    list-style-type: none;
    text-decoration: none;
}
.nav-submenu a:link {
    text-decoration: none;
}
.nav-submenu > li > a:hover, .nav-submenu > li > a:focus {
	color: white;
	background-color: #692b90;
}
.nav-submenu > li > a  {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.pageTitleAddressTemplate {

    font-style:normal;
    font-size: .75em;
    float: left;
    margin-top:10px;
    line-height: 95%;
    margin-left: 8.5%;


}
.pageTitleImage {
    float:left;

}
.pageTitleTemplate {

    margin-left: 18%;
}
/* Align vertically a column */
.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}



