/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 20, 2016, 2:55:16 PM
    Author     : wtccuser
*/
.btn_overload {
    border-color: #692b90;
    background-color: #692b90;
    color: white;
    font-size: .5em;
    min-width: 250px;
    max-width: 250px;

}
.pageChildTitleExtra {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'EB Garamond', serif;*/
    /*font-size: 1em;*/
    font-size: 1em;
    font-weight: bold;
    width: 800px;
    color: #404040;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;

    float: none;
    display: inline-block;
    vertical-align: middle;

    /*line-height: 100%;*/
}
.pageChildTitleOffSetExtra {
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'EB Garamond', serif;*/
    /*font-size: 1em;*/
    font-size: 1em;
    font-weight: bold;
    width: 800px;
    color: #692b90;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    padding-top: 8%;
    /*line-height: 100%;*/
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.pageChildSection {
    padding-top: 2%;
}
