/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2016, 6:46:45 PM
    Author     : wtccuser
*/
.ui-widget {
    font-family: Arial,Verdana,sans-serif;
    font-size: 1.3em;
}
.ui-widget-header {
    border: 1px solid #692b90;
    
    background: #692b90;
    background-color: #692b90;
    color: white;
    font-weight: bold;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	
	

}
    


