/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
.btn-visit {
    border-color: white;
    color: white;
   /*
    background-image:url("http://cokcc.org/images/sample.jpg");
    */
    background-color: transparent;
   min-width: 250px;
    max-width: 250px;

}
.btn_overload {
    border-color: #692b90;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #692b90;
	background: white;
	font-weight: bold;
	color: #000000;
}
.btn-default:hover
{
  background-color: #692b90;
  color: white;
}
.btn-visit:hover
{
  background-color: #692b90;
  color: white;
}
.btn-visit:visited
{
  
  color: white;
}
.results {
    font-family: 'EB Garamond', serif;
    font-size: 2em;
}
* {
    margin: 0;
    padding: 0;
}
.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}