/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2016, 11:08:39 AM
    Author     : wtccuser
*/
.pagination > li > a, .pagination > li > span {
    
    color: #692b90;
    
    background-color: #fff;
  
}

