/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 9:56:57 PM
    Author     : wtccuser
*/


.areyouvisiting {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.4em;
    font-family: Helvetica, sans-serif, Arial;
    height:500px;
    width:100%;
    float:left;
    color:white;
    padding-left: 15%;
     padding-right: 15%;
    
    text-align: left;
    background-image:url("http://cokcc.org/images/sample.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
.areyouvisiting-h3 {
    font-family: Helvetica, sans-serif, Arial;
    margin-top: 100px;
    font-size: 1.5em;
    text-align: center;
}
.areyouvisiting-row {

    margin-top: 40px;
}
.areyouvisiting-wrap {
word-wrap: break-word;
}
p.areyouvisiting-p {
   
    width: 400px;
}
.carousel {
     font-family: 'EB Garamond', serif;
}
.carousel-caption h1 {
    font-size: 14em;
    
}

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
       
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        line-height: 1;
    }





.pageSection {

    height:175px;
    width: 100%;
    /*font-familiy: EB Garamond;*/
    font-size: 2.0em;
    color:#692b90;
     background-image: url("http://cokcc.org/images/lightbanner.png");
     margin-left: 0;
     margin-right: 0;
    background-repeat: repeat-x;
   
}
.pageTitle {
    float:left;
    /*margin-left: 20%;*/
    margin-top: 40px;
    width: 60%;
    line-height: 90%;

}
.pageTitleImage {
    float:left;
}
.pastor {
   
    padding-top: 0%;
    color: white;
    background-color: black;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    
    
    
}
.pastor-text {
    padding-top: 50%;
}
.pastor_carousel {
    height:600%; 
    padding-top: 0%;
   
    background-color: pink;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    
    
    
}

.pageRightButton{
    float:right;
    font-size: 2.2em;
    margin-right: 130px;
    margin-top: 40px;
    width: 20%;
}
.pageTitleAddress {

    font-style:normal;
    font-size: .24em;
    margin-left: 5px;
    margin-top:10px;
    line-height: 95%;


}
.row.match-my-cols {
    overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.padding-0 {
    padding: 0;
}
.slider-limit{
       
        height: 480px;
        width: 100%;
        max-height: 480px;
        overflow: hidden;
     }
    .slider-limit img{
       width: 100%;
       height: 100%;
     }
.stayconnected_outer{
    margin-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    float:left;
    background: white;
    text-align: center;
    width:100%;
    font-family: 'EB Garamond', serif;
    font-size: 1.1em;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.stayconnected_outer img {
   padding-bottom: 5%; 
}
.stayconnected_inner{
    width:50%;
}

.stayconnected {
    margin-top: 20px;


    float:left;
    background: white;
    text-align: center;
}
.stayconnected-text {
font-family: 'EB Garamond', serif;
font-size: 1.3em;
}
.stayconnected-title {
    
}
.stayconnected-centerblock {
    display: table;
    margin: 0 auto;
}
.upcomingfeatures {
    
    margin-left: 15%;
    width:100%;
    float:left;
    color:black;
     font-family: 'EB Garamond', serif;
    
    text-align: center;
    background:white;
}
.upcomingfeatures p {
    font-family: Helvetica, sans-serif, Arial;
     font-size : 1.5em;
    
}
.upcomingfeatures-h3 {
    margin-right: 400px;
    margin-top: 100px;
}
.upcomingfeatures-p {
    color:#692b90;
    font-size:30px;
}
.upcomingfeatures-row {
    margin-top: 40px;
    position: relative;
}
.upcomingfeatures-text
{
    /*z-index:100;*/
    position:relative;    
    color:blue;
    background: grey;   
    font-size:24px;
    font-weight:bold;
    right:0px;
    top:0px;
}
.upcomingfeatures-image
{
    position:absolute;
    left:0;
    top:0;
}


figure {
     position: relative;
}
figure img {
    display: block;
}
figcaption {
  background: white;  
    font-weight:bold;
    font-size:16px;
    color:#E0AF41;
    font-family: Helvetica, sans-serif, Arial;
       padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width:25%;
}
.upcomingfeatures-caption {
    width:20%;
    top: 0;
    right:0;
    position: absolute;
    /*background:pink;*/
    font-weight:bold;
    font-size:16px;
    color:#E0AF41;
     background: transparent\9;  
     /*
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
*/
    }

.upcomingfeatures-thumbnail {
    position: relative;
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}
.upcomingfeatures-thumbnailimg {
   position: absolute;
}

.upcomingfeatures h3 {
    color: black;
    -webkit-font-smoothing: antialiased;
    margin-right: 400px;
    margin-top: 40px;
    padding-bottom: 20px;
    font-family: Helvetica, sans-serif, Arial;
}

.upcomingfeatures-caption h4 {
    color: pink;
    -webkit-font-smoothing: antialiased;
}
.errorMessage {
    color:red;
}
.infoMessage {
    color:blue;
}
.warnMessage {
    color:orange;
}
.btn-visit {
    border-color: white;
    color: white;
   /*
    background-image:url("http://cokcc.org/images/sample.jpg");
    */
    background-color: transparent;
   min-width: 250px;
    max-width: 250px;

}

.btn-default:hover
{
  background-color: #692b90;
  color: white;
}
.btn-visit:hover
{
  background-color: #692b90;
  color: white;
}
.btn-visit:visited
{
  
  color: white;
}
#outer{
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
#inner{
    width:50%;
}
.center-block {
    float: none !important
    padding-left: 2%;
}
.center-block-custom {
    
    padding-left: 2%;
     
    
}
.center-div
{
  position: absolute;
  margin: auto;
 
  right: 0;

  left: 0;
  width: 600px;
 

}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
	

@font-face{
    font-family:'Glyphicons Halflings';

src:url("#{resource['fonts/glyphicons-halflings-regular.eot']}");

src:url("#{resource['fonts/glyphicons-halflings-regular.eot']}?#iefix") format('embedded-opentype'),

url("#{resource['fonts/glyphicons-halflings-regular.woff']}") format('woff'),

url("#{resource['fonts/glyphicons-halflings-regular.ttf']}") format('truetype'),

url("#{resource['fonts/glyphicons-halflings-regular.svg']}#glyphicons-halflingsregular") format('svg')
}



