<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterGuestTemplate.xhtml">

        <body>

            <ui:define name="content">
                <div id="rotating-item-wrapper">
                    <p:graphicImage  library="images" name="churchbanner.jpeg" class="rotating-item" />

                        <p:graphicImage library="images"  name="nature2.jpg" class="rotating-item"/>
                        <h:outputText class="rotating-item" />
                        <p:graphicImage library="images"  name="nature3.jpg" class="rotating-item" />
                        <p:graphicImage library="images"  name="nature4.jpg" class="rotating-item" />       
                </div>
                
            </ui:define>


        </body>
    </ui:composition>
</html>

