<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterGuestTemplate.xhtml">

        <body>

            <ui:define name="content">
                <h1>Purpose</h1>
                At COKCC, we believe in authentic Christian community. Euripides stated that
                it is a good thing  to be rich. It is a good thing to be strong, but it is a
                better thing to be in a beloved community of friends. It is the desire of
                the small group ministry of COKCC to assist and help our members to continue
                to grow in the grace and knowledge of our Lord and Savior Jesus Christ. 
                <br/><br/>
                <h1>WHAT WE BELIEVE</h1>
                We believe that there is one living and true God, eternally existing in three persons (the Father, the son and the Holy Spirit) equal in power and honor; and that this triune God created all, upholds all and governs
                all. (Genesis 1:26, Isaiah 6:8, Matthew 28:19).
                <br/>
                <br/>
                We believe that the Scriptures of the Old and New Testaments of the bible are the Word of God; all are fully inspired, without error in the original manuscripts, and supreme rule of faith. (2Timothy 3:16, 2Peter 2:20-21).

            </ui:define>


        </body>
    </ui:composition>
</html>
