<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1'></script>    
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
        type="text/javascript"></script>
        <h:outputScript library="js" name="infinite-rotator.js" />
        <h:outputStylesheet library="css" name="custom.css"  />
        <title><ui:insert name="title">Home</ui:insert></title>
    </h:head>
    <body>
        <div class="IconImageContainer">
            <p>
                <p:graphicImage library="images" name="golden-crown.jpg" transient="true" class="IconImage" />
                <div class="bannertext">
                    Christ our King 
                    <br/>Community Church
                </div>
            </p>
        </div>
        <div class="Container">


            <div class="Header">

                <div>
                    <br/>

                    <h:link value="Home" outcome="default" /> 
                    <span class="FooterPad">| </span> <h:link value="Message" outcome="youtube" /> 
                    <span class="FooterPad">| </span>  <h:link value="Directions" outcome="directions" /> 

                    <span class="FooterPad">| </span>  <h:link value="Administration" outcome="/index" />
                    <span class="FooterPad"> | </span>  <h:link value="Calendar" outcome="schedulewrapper" />

                    <span class="FooterPad"> | </span>  <h:link value="About Us" outcome="about" />

                </div><!-- menu div -->


                <br />
                <div class="banner">

                    <h1> Welcome to Christ Our King Church </h1>

                </div>

            </div><!-- end of Header div -->

            <div class="min-height"></div>
            <div class="Middle">
                <div class="Content">
                    <ui:insert name="content">

                    </ui:insert>
                </div> <!-- end of content div-->
                <div class="PressRelease">
                    <h1 style="color: red">Events</h1>
                    <em>Sunday School</em> at 9:00 a.m.

                </div><!-- end of Press release div -->
            </div><!-- end of Middle div -->
            <div class="Footer">
                <a href="PrivacyPolicy.html">2014 © Christ Our King Community Church | Raleigh, NC 27610</a><span class="FooterPad">| </span>
                <a href="SiteMap.html">SITE MAP</a>
                <span class="FooterPad">|</span> <a href="#" target="_blank">Church</a>
            </div>
        </div><!-- end of container div" -->

    </body>
</html>


