<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterGuestTemplate.xhtml">

        <body>

            <ui:define name="content">
              
                <h:link value="Open full view" outcome="schedule" /> 
                <iframe src="#{request.contextPath}/faces/guest/schedule.xhtml" width="100%" height="400"></iframe>

            </ui:define>


        </body>
    </ui:composition>
</html>

