<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>

        <title>Schedule</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>
        <h:form>
         
            <h:panelGrid columnClasses="value">
                <p:schedule value="#{scheduleView.lazyEventModel}" />
            </h:panelGrid>

        </h:form>
        <style type="text/css">
            .value {
                width: 1000px;
            }
        </style>
        
        
    </body>
</html>

