<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">

                <link rel="stylesheet" href="http://cokcc.org/css/guestabout.css"/>

            </ui:define>

        </head>

        <body>
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    Our Story
                </div>

            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" ></p:lightBox>

                <div class="container-fluid pageChildSection about-header"> 


                    <div class="row-fluid">
                        <div class="col-md-9 push-md-3">
                            <h1 class="pastor-welcome">Pastor’s Welcome</h1>
                            <p>
                                In 2004, my wife, Cynthia, and I began leading Bible studies. As we think about the beautiful
                                evolution of what has become of Christ Our King Community Church, one word comes to mind:
                                awe. The Lord is the author of our story, and we exist to build broken people into blessed
                                people who live, learn, and lead together as a grace filled
                                community. That includes me, as well
                                as my wife. Growing together with a community is one of the most beautiful parts of the human
                                experience. 
                            </p>
                            <p>
                                The beauty of grace will never be fully grasped without the knowledge of truth of
                                how broken
                                and powerless we are without our Lord and Savior, Jesus Christ. His death, burial, resurrection
                                remind us that He did what we could not do. He became the final sacrifice, allowing us to enter
                                into a relationship with our Father. As we walk through each day, loving our neighbor, accepting
                                grace and extending grace, we are showing the world what it looks like when Christ is King in
                                every aspect of our lives from
                                the sanctuary to the business meeting to the dinner table.
                            </p>
                        </div>
                        <div class="col-md-3 pull-md-9 pastor-image">
                            <img src="http://cokcc.org/images/pastorTwo.png" />
                        </div>
                    </div>




                </div>
                <div class="container-fluid general">

                    <div class="row-fuild">
                        <div class="col-md-9 push-md-3">
                            <p>
                                My desire is to see a community that knows the true identity of Jesus, and 
                                it starts with knowing God’s infallible Word. Not the words
                                that we have seen abbreviated in journals or paraphrased on television, 
                                but the word of God from the holy Bible. One of the things I
                                take most seriously is communicating God’s truth and the timeless nature of the 
                                Bible. It is a beautiful story of our Holy God and his intentional plan for salvation. 
                                It does not need updates, edits or abbreviations.
                            </p>
                            <p>
                                As you visit, you will hear my passion for living a life where the pulpit meets the pavement. My prayer is for Christ Our King
                                Community Church to be an empowered army of people regularly showing their faith.
                            </p>
                        </div>
                    </div>
                </div>
            </ui:define>



        </body>
    </ui:composition>
</html>

