<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!--<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1'></script>-->

        <script src="http://maps.google.com/maps/api/js?sensor=false" 
        type="text/javascript"></script>

        <h:outputScript library="js" name="infinite-rotator.js" />
        
        
        <h:outputStylesheet library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="carousel.css"  />
        <h:outputStylesheet library="css" name="custom.css"  />

        <ui:insert name="stylesheets"></ui:insert>
        <ui:insert name="javascripts"></ui:insert>

        <title><ui:insert name="title">Home</ui:insert></title>
    </h:head>

    <h:body>
        <h:form id="guestForm">

            <div class="IconImageContainer">
                <p>


                    <div class="bannertext">
                        COKCC.org

                        <div class="bannderImage">
                            <img src="#{resource['images:hand.gif']}" class="imagetext" />
                            "We exist to build broken people into blessed people who live, learn,
                            <br/>and 
                            lead together as a new community."
                        </div>
                    </div>


                </p>
            </div> <!-- end of IconImageContainer div -->


            <div class="Container">

                <div class="HeaderWeb">

                    <div> <!-- menu div -->
                        <br/>

                        <h:link value="Home" outcome="default" />

                        <span class="FooterPad">| </span>  <h:link value="Directions" outcome="directions" />
                        <span class="FooterPad">| </span>  <h:link value="Podcast" outcome="playlist" /> 
                        <span class="FooterPad">| </span>  <h:link value="Administration" outcome="/index" />
                        <span class="FooterPad"> | </span>  <h:link value="Calendar" outcome="schedulewrapper" />
                        <span class="FooterPad"> | </span>  <h:link value="About Us" outcome="about" />

                    </div> <!-- end of menu div -->

                    <br />

                </div> <!-- end of Header div -->


                <div class="min-height"></div>


                <div class="Middle">

                    <div class="Content">
                        <ui:insert name="content">
                        </ui:insert>
                    </div> <!-- end of content div-->

                    <div class="PressRelease">


                        <div class="Locator">

                            <h:inputText/>
                            "e.g.1000 Wade Ave., Raleigh, NC 27605" 
                            <br/>
                            <h:commandButton value="Find Locations" />

                        </div> <!-- end of Locator div -->

                        <ui:include src="events.xhtml" />

                    </div> <!-- end of Press release div -->

                </div><!-- end of Middle div -->


                <div class="Footer">

                    <a href="PrivacyPolicy.html">2014 © Christ Our King Community Church | Raleigh, NC 27610</a><span class="FooterPad">| </span>

                    <a href="SiteMap.html">SITE MAP</a>

                    <span class="FooterPad">|</span> <a href="#" target="_blank">Church</a>

                </div> <!-- end of Footer div -->

            </div><!-- end of container div" -->

        </h:form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <h:outputScript library="js" name="bootstrap.min.js" />
        <h:outputScript library="js" name="docs.min.js" />
        <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />
        
    </h:body>

</html>
