<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />
                <h:outputStylesheet library="css" name="guesteventlist.css"  />
            </ui:define>
            <ui:define name="javascripts">
                <h:outputScript library="js" name="bootstrap.min.js" />

            </ui:define>

        </head>
        <body>
            <ui:define name="pageheader">
                <div class="pageChildTitleOffSetExtra container-fluid hidden-phone">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-5">Events</div>
                    </div> 
                </div>
            </ui:define>
            <ui:define name="content">

                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                <div class="container">
                    <ui:repeat var="event" value="#{eventBean.filterEventList}" varStatus="loop">

                        <div class="row">
                            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                                <ul class="event-list">
                                    <li>
                                        <time style="background-color: #{loop.index % 2 == 0 ? 'blue' : 'pink'};" datetime="#{event.date}">
                                            <span class="day">#{event.day}</span>
                                            <span class="month">#{event.month}</span>
                                                <span class="year">#{event.year}</span>
                                                <span class="time">#{event.time}</span>
                                        </time>
                                        <img alt="#{event.name}" src="#{event.image}" />
                                        <div class="info">
                                            <h2 class="title">#{event.name}</h2>
                                            <p class="desc">#{event.webPartialInformation}</p>
                                           
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ui:repeat>
                </div>





                <ui:repeat var="event" value="#{eventBean.filterEventList}" varStatus="status">
                    <div class="container">
                        <h1>#{event.name} </h1>

                        <i style="padding-top: 10px">#{event.date}</i>
                        <br/>
                        <i>#{event.location}</i>
                        <div class="row">
                            <div class="col-md-12">
                                <img style="float:left; margin-right:10px;" src="#{event.department.iconstring}"/>

                                <div style="padding-top: 10px; font-size: 14px; margin-left: 46px;width: 930px">#{event.generalInformation}</div>

                            </div>
                        </div> 
                    </div>
                </ui:repeat>

            </ui:define>

        </body>
    </ui:composition>

</html>

