<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">
             

                <link rel="stylesheet" href="http://cokcc.org/css/guestbelief.css"/>

                
            </ui:define>
            
        </head>

        <body>
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    Our Beliefs
                </div>


            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" ></p:lightBox>
                <div class="container-fluid text-center pageChildSection about-header" >  
                    <div class="row content">
                        <div class="col-md-9 push-md-3">
                            
                            <ul class="ul_none">
                                <li>Direction
                                    from the Word of God
                                    <p>
                                        The holy Bible, from beginning to end, reveals God’s love and His plan for redemption. The
                                        Bible is timeless, and you can expect to hear us read from God’s Word with boldness and
                                        conviction
                                    </p>

                                </li>
                                <li>Devotion
                                    to one another
                                    <p>
                                        Do you remember what it was like when the church was first started? There was one big
                                        community. Every need was met. This is our desire. We have been created to be connected with one another. We discover who we are as well as who God is through our love for one
                                        another. A distinguishing mark of a Kingdom community is love for one another. 
                                    </p>
                                </li>
                                <li>
                                    Development
                                    that makes a difference
                                    <p>Direction from the word and devotion to one another leads to development that makes a
                                        difference. We are designed to grow through a transformative experience.</p>
                                </li>
                                <li>
                                    Dynamic
                                    Worship
                                    <p>If we are directed by the word, devoted to one another and being developed in a way that is
                                        transformative, then we will automatically experience worship that is dynamic.</p>
                                </li>
                                <li>
                                    Our Mission
                                    <p>We exist to build broken people into blessed people who live, learn, and lead together as a grace-filled community.</p>
                                </li>
                                <li>
                                    Our Vision
                                    <p> To become a multi-faceted, regional community of people transformed into grace-filled leaders impacting the world for Christ.</p>
                                </li>
                            </ul>  
                        </div>
                    </div><!-- end of row -->
                </div>














            </ui:define>



        </body>
    </ui:composition>
</html>

