<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">

                <link rel='stylesheet' href='http://cokcc.org/css/fullcalendar.css' />

               <link rel="stylesheet" href="http://cokcc.org/css/guestcalendar.css"/>


            </ui:define>
         

            <ui:define name="javascripts">
                <script src='http://cokcc.org/js/jquery.min.js'></script>
                <script src='http://cokcc.org/js/moment.min.js'></script>
                <script src='http://cokcc.org/js/fullcalendar.js'></script>

                <script>
                    $(document).ready(function() {

                        $('#calendar').fullCalendar({
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'month,agendaWeek,agendaDay,listWeek'
                            },
                            defaultDate: '2016-12-12',
                            editable: true,
                            navLinks: true, // can click day/week names to navigate views
                            eventLimit: true, // allow "more" link when too many events
                            eventBackgroundColor: '#692b90',
                            
                            events: {
                                url: '#{request.contextPath}/rest/mobile/getAllYearEvents',
                                error: function() {
                                    $('#script-warning').show();
                                }
                            },
                            
                           
                            loading: function(bool) {
                                $('#loading').toggle(bool);
                            }
                        });

                    });

                </script>
            </ui:define>


        </head>
        <body class="calendar-body">
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    General Events
                </div>

            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                
                <div id='calendar'></div>




            </ui:define>

        </body>
    </ui:composition>

</html>

