<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>

            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />

                <link rel="stylesheet" href="http://cokcc.org/css/guestcommonquestions.css"/>



                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
                <h:outputStylesheet library="css" name="featherlight.gallery.css"  />
                <h:outputStylesheet library="css" name="featherlight.css"  />

                <h:outputStylesheet library="css" name="bootstrap-table.css"  />
            </ui:define>


        </head>
        <body>
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    Common Questions
                </div>

            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>
                <div class="container-fluid pageChildSection about-header">

                    <div class="row-fluid">
                        <div class="col-md-9 push-md-3">

                            <p> Have questions? Here are a few of the most common inquiries we received.</p>
                            <h3>What time is service?</h3>
                            <p>
                                <i>Sunday 9:30 a.m Prayer service </i>
                            </p>
                            <p>
                                <i>Sunday 10:00 a.m General service </i>
                            </p>
                            <h3>How do I get there?</h3>
                            <p>
                                <i>1500 Garner Road | Raleigh, NC 27610 | (919) 838-4848 | admin@cokcc.org </i>
                            </p>

                            <h3>What should I wear?</h3>
                            <p>
                                <i>Christ Our king Community Church has a “come as you are” atmosphere. You will see some dressed up; some dressed casual. We have no expectations for attire.</i>
                            </p>
                            


                        </div>
                    </div><!-- end of row 1 -->





                </div>




            </ui:define>

        </body>
    </ui:composition>

</html>


