<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />
                <h:outputStylesheet library="css" name="guestcontactus.css"  />
                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />

            </ui:define>
            <ui:define name="javascripts">
                <h:outputScript library="js" name="bootstrap.min.js" />
                <h:outputScript library="js" name="docs.min.js" />
                <h:outputScript library="js" name="tooltip.js" />
                <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />

            </ui:define>
        </head>
        <body>

            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>
                <h:form id="ddd" class="bootstrap-frm">
                    <p:tabView>
                        <p:tab title="Contact Information">
                            <table class="table table-striped">
                                <tr>
                                    <td> <img style="border:1px solid #AEAFB0" src="http://cokcc.org/images/Address.gif"/></td>
                                    <td style="padding: 20px;"><strong>Address</strong></td>
                                    <td style="padding: 20px;">Christ Our King Community Church  1500 Garner Rd, Raleigh, NC 27610</td>
                                </tr>  
                                <tr>
                                    <td> <img style="border:1px solid #AEAFB0" src="http://cokcc.org/images/email.gif"/></td>
                                    <td style="padding: 20px;"><strong>Email</strong></td>
                                    <td style="padding: 20px;">Support@cokcc.org</td>
                                </tr> 
                                <tr>
                                    <td> <img style="border:1px solid #AEAFB0" src="http://cokcc.org/images/phone.gif"/></td>
                                    <td style="padding: 20px;"><strong>Phone</strong></td>
                                    <td style="padding: 20px;">919) 838-4848</td>
                                </tr> 
                                <tr>
                                    <td> <img style="border:1px solid #AEAFB0" src="http://cokcc.org/images/globe.gif"/></td>
                                    <td style="padding: 20px;"><strong>Web Sites</strong></td>
                                    <td style="padding: 20px;">cokcc.org, </td>
                                </tr> 
                            </table>
                            <p:panel>
                                <span class="images">
                                    <a href="http://www.youtube.com/watch?v=nZ-OPZpW2lk" >
                                        <img style="border:1px solid #AEAFB0" src="http://cokcc.org/images/youtube.gif"/>
                                    </a>
                                    <a href="http://cokcc.podomatic.com" >
                                        <img style="border:1px solid #AEAFB0" src="http://cokcc.org/images/podcast.gif"/>
                                    </a>
                                    <a href="https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020" >
                                        <img style="border:1px solid #AEAFB0" src="http://cokcc.org/images/facebook.gif"/>
                                    </a>
                                    <!--
                                    -->
                                </span>

                            </p:panel>
                        </p:tab>   
                        <p:tab title="Contact Form">
                            <p:growl id="growl" sticky="true" showDetail="true"/>

                            <p:wizard flowListener="#{contactBean.onFlowProcess}">
                                <p:tab id="personal" title="Personal">

                                    <p:messages />

                                    <h1>
                                        <span>Please fill all the texts in the fields.</span>
                                    </h1>
                                    <label>
                                        <span>First Name :</span>
                                        <p:inputText value="#{contactBean.contact.firstName}" validatorMessage="Invalid first name format" maxlength="50"  required="true" placeholder="First Name" requiredMessage="Please enter your first name." >
                                            <f:validateRegex pattern="[a-zA-Z]+"/>
                                        </p:inputText>

                                    </label>
                                    <br/>
                                    <label>
                                        <span>Last Name :</span>
                                        <p:inputText value="#{contactBean.contact.lastName}" validatorMessage="Invalid last name format" required="true" label="Lastname" placeholder="Last Name" requiredMessage="Please enter your last name." >
                                            <f:validateRegex pattern="[a-zA-Z]+"/>
                                        </p:inputText>


                                    </label>
                                    <br/>
                                    <label>
                                        <span>Email :</span>
                                        <p:inputText value="#{contactBean.contact.emailAddress}" required="true" placeholder="Valid email address" requiredMessage="Please enter your email address."
                                                     validatorMessage="Invalid email format" >

                                            <f:validateRegex
                                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                                        </p:inputText>

                                    </label>
                                    <br/>
                                    <label>
                                        <span>Phone :</span>
                                        <p:inputMask mask="(999) 999-9999" value="#{contactBean.contact.phone}" required="true" placeholder="Valid Phone" requiredMessage="Please enter your phone." />


                                    </label>
                                    <br/>
                                    <label>
                                        <span>Message :</span>
                                        <h:inputTextarea value="#{contactBean.contact.comment}" validatorMessage="Invalid comment format" cols="30" rows="10"  required="true"  requiredMessage="Please enter your comment">
                                            <f:validateLength maximum="100"></f:validateLength>
                                        </h:inputTextarea>

                                    </label>
                                    <label>
                                        <span>Code :</span>
                                        <p:captcha label="Captcha" requiredMessage="Please enter your generated code." />

                                    </label>

                                </p:tab>




                                <p:tab id="confirm" title="Confirmation">
                                    <p:panel>
                                        <h1>
                                            <span>Please verify information.</span>
                                        </h1>

                                        <div class="row">
                                            <div class="span4"><b>First Name : </b> #{contactBean.contact.firstName}</div>
                                        </div>
                                        <div class="row">  
                                            <div class="span4"><b>Last Name : </b> #{contactBean.contact.lastName}</div>
                                        </div>
                                        <div class="row">
                                            <div class="span4"><b>Email Address : </b> #{contactBean.contact.emailAddress}</div>
                                        </div>
                                        <div class="row">
                                            <div class="span4"><b>Phone : </b> #{contactBean.contact.phone}</div>
                                        </div>
                                        <div class="row">
                                            <div class="span4"><b>Message : </b> #{contactBean.contact.comment}</div>
                                        </div>







                                        <p:commandButton value="Submit" actionListener="#{contactBean.save}" update="growl" process="@this"/>
                                    </p:panel>
                                </p:tab>
                            </p:wizard>
                        </p:tab>
                    </p:tabView>
                </h:form>

            </ui:define>


        </body>
    </ui:composition>
</html>

