<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">

                <link rel="stylesheet" href="http://cokcc.org/css/guestdefault.css"/>
                <h:outputStylesheet library="css" name="localguestdefault.css"  />


            </ui:define>

        </head>

        <body>

            <ui:define name="content">

                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                <div class="container-fluid padding-0 hidden-phone">

                    <div id="carousel-example" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example" data-slide-to="1"></li>
                            <li data-target="#carousel-example" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <h:link  outcome="firstvisit">
                                    <img src="http://cokcc.org/images/slider1.png" />
                                </h:link>



                            </div>
                            <div class="item">
                                <h:link outcome="yearscheduleAll" > 
                                    <f:param name="eventType"  value="all"/>
                                    <img src="http://cokcc.org/images/slider2.png" />
                                </h:link>


                            </div>
                            <div class="item">
                                <h:link  outcome="smallgroupleaders" >
                                    <img src="http://cokcc.org/images/slider3.png" />
                                </h:link>   


                            </div>
                        </div>

                        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                </div>


                <div class="container-fluid direction">

                    <div class="row-fluid hidden-phone">
                        <blockquote>
                            We value direction from the word of God, Dynamic Worship, 
                            Devotion to one another, and Development that makes a difference. 

                        </blockquote>

                    </div>
                </div> 








                <!-- Three columns of text below the carousel -->
                <div class="container-fluid areyouvisiting">
                    <div class="row-fluid">
                        <h2 class="areyouvisiting-h3">We can’t wait to meet you! 
                            Learn more about us, and what to expect on your first Sunday.</h2><br></br>

                    </div>
                    <div class="row-fluid center-block-custom" >
                        <div class="col-md-4 col-centered">

                            <p>
                                We are grace-filled leaders transforming
                                the world for Christ, our Savior, 
                                our Redeemer and our King. Read about our 
                                journey.
                            </p>


                        </div>
                        <div class="col-md-4 col-centered">
                            <p>
                                We’re a community of broken people, 
                                transforming as we walk in the truth of the 
                                Gospel. Learn more about who we are and 
                                how we can’t wait to meet you on Sunday.</p>

                        </div><!-- /.col-lg-4 -->

                        <div class="col-md-4 col-centered ">

                            <p>
                                You’re raising disciples, and we look 
                                forward to helping you on Sunday morning.
                                We offer a safe and fun place for your
                                family to love the one true King.
                            </p>

                        </div>
                    </div>
                    <div class="row-fluid center-block-custom">
                        <div class="col-md-4">


                            <p>
                                <h:link class="btn btn-visit" role="button" value="OUR JOURNEY" outcome="about" />
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <h:link class="btn btn-visit" role="button"  value="YOUR FIRST SUNDAY" outcome="firstvisit" />
                            </p>
                        </div><!-- /.col-lg-4 -->

                        <div class="col-md-4">

                            <p>
                                <h:link class="btn btn-visit" role="button" value="WELCOME, KIDS" outcome="ministry" >
                                    <f:param name="name"  value="Children"/>

                                </h:link>
                            </p>
                        </div>
                    </div>
                </div><!-- end of container -->









            </ui:define>

        </body>
    </ui:composition>
</html>

