<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />
                <h:outputStylesheet library="css" name="guestdirection.css"  />
                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
            </ui:define>
            <ui:define name="javascripts">
                <h:outputScript library="js" name="bootstrap.min.js" />
                <h:outputScript library="js" name="docs.min.js" />
                <h:outputScript library="js" name="tooltip.js" />
                <h:outputScript library="js" name="guestdirection.js" />
                <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />

            </ui:define>

        </head>


        <body>

            <ui:define name="pageheader">
                <div class="pageChildTitleExtra container-fluid hidden-phone">
                    <div class="row-fluid text-center">
                        <div class="col-md-4 col-md-offset-5">Directions</div>
                    </div> 
                </div>
            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>
                <div class="container-fluid full-width pageChildSection" id="main">
                    <ui:repeat var="step" value="#{drivingDirectionBean.steps}" varStatus="status">
                        <div class="row-fluid text-center results">
                            <div class="col-lg-12">
                                <!-- row record -->
                                <h:outputText value=" #{step.leg}" escape="false" />
                            </div>
                        </div>
                    </ui:repeat>


                </div>
            </ui:define>

        </body>
    </ui:composition>

</html>

