<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />

                <link rel="stylesheet" href="http://cokcc.org/css/guestdirection.css"/>


                <h:outputStylesheet library="css" name="guestdirection.css"  />
                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
            </ui:define>
            <ui:define name="javascripts">
                <h:outputScript library="js" name="bootstrap.min.js" />
                <h:outputScript library="js" name="docs.min.js" />
                <h:outputScript library="js" name="tooltip.js" />
                <h:outputScript library="js" name="guestdirection.js" />
                <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />

            </ui:define>

        </head>
        <body>
            <ui:define name="pageheader">
                
                <div class="col-sm-7 insideTitle">
                    Find Us
                </div>

               

            </ui:define>
            <ui:define name="content">
                <h:form>
                    <p:lightBox iframe="true" id="lighbox3"></p:lightBox>


                    <h:outputScript library="primefaces" name="jquery/jquery.js" />



                    <p:growl id="growl" life="2000" showDetail="" />



                    <div class="container pageChildSection">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <p:inputText styleClass="form-control" value="#{drivingDirectionBean.startingAddress}" 
                                             id="startingaddress" maxlength="50" size="100" placeholder="1000 Wade Ave., Raleigh, NC 27605"  
                                             title="e.g.1000 Wade Ave., Raleigh, NC 27605" />


                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <h:commandButton style="font-size: 1em;" class="btn-block btn-lg btn_overload btn-default" value="FIND DRIVER DIRECTIONS" 

                                                 action="#{drivingDirectionBean.findDrivingDirections}" />

                            </div>
                        </div>



                    </div>

                </h:form>

            </ui:define>

        </body>
    </ui:composition>

</html>

