<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>

        <h:outputStylesheet library="css" name="bootstrap.min.css"  />
      
         <link rel="stylesheet" href="http://cokcc.org/css/guestdonate.css"/>
             
        <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />


      

    </h:head>
    <body>

     
        <div class="container-fluid pageChildSection about-header">



            <div class="row-fluid">

                <div class="col-md-9 push-md-3">

                   
                        
                        <p>
                            Steward our resources
                            to further God's kingdom</p>

                        <p>
                            We are committed to reaching those who are far from God, unleashing unprecedented levels of compassion into a broken world, and helping each of us become more fully devoted to Jesus Christ. We have the privilege of partnering with God's work in the world by using our gifts and resources through the local church.
                        </p>
                        <hr></hr>
                        <h2>How do I  give ?</h2>
                        <p>
                            Several safe and secure methods of giving provide convenient ways to offer our tithes and financially contribute to the Church.
                        </p>
                        <h3>Weekend Service</h3>
                        <p>Simply place cash or checks in the offering bag during the collection at any weekend service. Be sure to include your name and address on the check or envelope, so that donation credit may be provided for tax purposes. Designate the ministry to which you would like the offering applied.</p>
                         <h3>Online giving</h3>
                        <p>Online giving: Online giving allows for a specific dollar amount to be 
                    deducted automatically from a pay pal account. You can set up online giving either as a one-time donation. 
                    Online giving is not only easy, it's also safe and secure. </p>
                        
                 

                   
                    
                 

                </div><!-- /.blog-main -->



            </div><!-- /.row -->
            <div class="row-fluid">

                <div class="col-sm-8 blog-main col-centered">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations"/>
                <input type="hidden" name="business" value="cokccfinance@gmail.com"/>
                <input type="hidden" name="lc" value="US"/>
                <input type="hidden" name="item_name" value="Christ Our King Community Church"/>
                <input type="hidden" name="no_note" value="0"/>
                <input type="hidden" name="currency_code" value="USD"/>
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"/>
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
            </form>
                </div>
            </div>

        </div><!-- /.container -->

     
     
        
    </body>

</html>


