<?xml version="1.0" encoding="UTF-8"?>
<!--    
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <style>



            .ui-datatable tbody td.wrap {
                white-space: normal;
                word-wrap: break-word;
            }


            .sign {
                margin-top:50px;
                .button {
                    //border: 1px solid #989A8F;
                    padding: 10px 40px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                    color: #989A8F;
                    font-size: 14px;
                    text-decoration: none;
                    vertical-align: middle;
                    font-size:17px;
                }
            }


            .ui-panel .ui-panel-titlebar {
                padding: 0;
                width: 950px;
                color: white;
                font-size:14px;
                background: linear-gradient(#000569, #000569);

            }
            .ui-panel .ui-panel-titlebar-icon {
                float:left;
            }
            .ui-panel .ui-panel-title {
                float:right;
                // margin: 0.1em 16px 0.2em 0;
                width: 800px;
            }


        </style>


        <p:panel   collapsed="true" toggleable="true" header="UpComing Events">
            <ui:repeat var="event" value="#{eventBean.filterEventList}" varStatus="status">

                <div style="background: linear-gradient( white, white)">
                    <br/>
                    <div>
                        <img src="#{event.department.iconstring}"/>
                    </div>
                    <div style="font-size: 18px; margin-left: 10px; width: 800px">#{event.name}

                    </div>
                    <br/>
                    <div style="font-size: 14px; margin-left: 10px; padding-top: 10px; width: 800px">#{event.date} </div>
                    <br/>
                    <div style="padding-top: 10px;font-size: 14px; margin-left: 46px; width: 800px"><i>#{event.location}</i></div>
                    <br/>
                    <div style="padding-top: 10px; font-size: 14px; margin-left: 46px;width: 930px">#{event.generalInformation}</div>
                 
                    <br/>
                </div> 

            </ui:repeat>
        </p:panel>












    </h:body>

</html>


