<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" 
                template="masterGuestTemplate.xhtml">

    <ui:define name="content">

        <ui:repeat var="event" value="#{eventResultsBean.events}" varStatus="status">

            <div style="background: linear-gradient( #cccccc, white)">
                <br/>
                <div>
                    <img src="#{event.department.iconstring}"/>
                </div>
                <div style="font-size: 18px; margin-left: 2px; width: 800px">#{event.name}

                </div>
                <br/>
                <div style="margin-left: 2px; width: 800px">When: #{event.date} </div>
                <br/>
                <div style="font-size: 14px; margin-left: 2px; width: 800px"><i>Who: #{event.department.name}</i></div>
                <br/>
                <div style="font-size: 14px; margin-left: 2px;width: 930px">What: #{event.generalInformation}</div>

                <br/>
            </div> 

        </ui:repeat>
        <h:panelGroup rendered="#{empty eventResultsBean.events}">
            <h1>Did not find any Events</h1> 
        </h:panelGroup>

    </ui:define>


</ui:composition>



