<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:body>
        <div class="PressRelease Locator">

            <span style="color: red">
              
                <p:commandLink style="color: red"  action="eventlist" value="More Events" />
                <br/>
            </span>

            <ui:repeat var="event" value="#{eventBean.eventList}" varStatus="status">
                <span style="color: orange"><b>» </b> </span>

                
                <p:commandLink onclick="PF('#{status.index}').show();"  >
                    <h:outputText value="#{event.name} - #{event.date} ...." />
                </p:commandLink>
                <p:dialog width="500px" header="#{event.name}" widgetVar="#{status.index}" showEffect="explode"  height="100">
                    <h:outputText value="#{event.display}" />
                </p:dialog>
                <br/><br/>
            </ui:repeat>
        </div>
    </h:body>

</html>


