<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>Test Directions Application</title>
        
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
        type="text/javascript"></script>
        
        <h:outputScript library="js" name="infinite-rotator.js" />
        <h:outputStylesheet library="css" name="custom.css"  />
        
        <ui:insert name="stylesheets"></ui:insert>
        <ui:insert name="javascripts"></ui:insert>
        
    </h:head>
    
    <h:body>
        <h:form id="form">
            
            <p:growl id="msgs" showDetail="true" />
            
            <p:dataTable id="singleDT" var="car" value="#{dtSelectionView.cars2}" 
                         selectionMode="single" 
                         selection="#{dtSelectionView.selectedCar}" 
                         rowKey="#{car.id}">
                
                <f:facet name="header">
                    Single with Row Click
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{car.id}" />
                </p:column>
                <p:column headerText="Year">
                    <h:outputText value="#{car.year}" />
                </p:column>
                <p:column headerText="Brand">
                    <h:outputText value="#{car.brand}" />
                </p:column>
                <p:column headerText="Color">
                    <h:outputText value="#{car.color}" />
                </p:column>
                <f:facet name="footer">
                    <p:commandButton process="singleDT" update=":form:carDetail" 
                                     icon="ui-icon-search" value="View" 
                                     oncomplete="PF('carDialog').show()" />
                </f:facet>
                
            </p:dataTable>
            
            
            <p:dialog header="Car Info" widgetVar="carDialog" modal="true" 
                      showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="carDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty dtSelectionView.selectedCar}" 
                                  columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="demo/images/car/#{dtSelectionView.selectedCar.brand}-big.gif"/> 
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{dtSelectionView.selectedCar.id}" />

                        <h:outputText value="Year" />
                        <h:outputText value="#{dtSelectionView.selectedCar.year}" />

                        <h:outputText value="Color:" />
                        <h:outputText value="#{dtSelectionView.selectedCar.color}" style="color:#{dtSelectionView.selectedCar.color}"/>

                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
            
        </h:form>
    </h:body>
    
</html>

