<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootsnipp.css"  />

            </ui:define>

        </head>
        <body>
            <ui:define name="content">

                <div class="form-horizontal">


                    <h2 class="form-signin-heading">Invalid Activation</h2>
                    <p:panel>
                        <p>

                            You have entered an invalid activation code #{activationBean.activationCode}. Please re-enter a new 
                            activation code or contact you system administrator.


                        </p>
                    
                        

                        <fieldset>

                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label"  for="activationcode">Your Activation Code:</label>
                                <div class="controls">

                                    <span class="input-xlarge">
                                        <p:inputText placeholder="Activation code"  requiredMessage="Enter activation code" id="activationcode" value="#{activationBean.activationCode}"  required="true"   >
                                            
                                        </p:inputText>
                                        <h:message for="activationcode" style="color:red" />
                                    </span>

                                    <p class="help-block">Activation code can contain any letters or numbers, without spaces</p>
                                </div>
                            </div>





                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">

                                    <span> 
                                        <h:commandButton  value="Activate"  action="#{activationBean.completeActivation}"/>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </p:panel>
                </div> <!-- /container -->





            </ui:define>




        </body>
    </ui:composition>

</html>


