<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Directions</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="carousel.css"  />
        <h:outputStylesheet library="css" name="custom.css"  />
    </h:head>
    <h:body>
        <h:form>           
            <div class="locator">
                <span class="inputText">
                    <p:inputText placeholder="Address" size="40" value="#{drivingDirectionBean.startingAddress}" 
                                 required="true"/>
                </span>
                <br/>
                <span class="minitext">
                    e.g. <em>1213 Somerset Road., Raleigh, NC 27610</em>
                </span>

                <div id="commandbutton">
                    <h:commandButton class="btn btn-primary btn-lg btn-block btn_overload" value="Find Location" action="#{drivingDirectionBean.findDirection}" />
                </div>

            </div><!-- end of locator -->
        </h:form> 

    </h:body>
</html>

