<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />
             
                <link rel="stylesheet" href="http://cokcc.org/css/guestlogin.css"/>
                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
            </ui:define>
            <ui:define name="javascripts">
                <h:outputScript library="js" name="bootstrap.min.js" />
                <h:outputScript library="js" name="docs.min.js" />
                <h:outputScript library="js" name="tooltip.js" />
                <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />

            </ui:define>
        </head>
        <body>
         
            <ui:define name="content">
                  <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                <div class="form-signin">


                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label for="username" class="sr-only">User Name</label>
                    <span class="form-control">
                        <p:inputText  id="username" value="#{loginBean.username}"  required="true"  placeholder="User Name"  />
                    </span>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <span class="form-control"> 
                        <p:password  id="password" placeholder="Password" value="#{loginBean.password}" required="true" />
                    </span>
                    <span> 
                        <h:commandButton  value="Login"  action="#{loginBean.validateCredentials}"/>
                    </span>

                </div> <!-- /container -->





            </ui:define>




        </body>
    </ui:composition>

</html>


