<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <body>
            <h:outputStylesheet library="css" name="bootstrap.min.css"  />
            <ui:define name="content">
                <style>
                    body {
                        padding-top: 40px;
                        padding-bottom: 40px;
                        background-color: #eee;
                    }

                    .form-signin {
                        max-width: 330px;
                        padding: 15px;
                        margin: 0 auto;
                    }
                    .form-signin .form-signin-heading,
                    .form-signin .checkbox {
                        margin-bottom: 10px;
                    }
                    .form-signin .checkbox {
                        font-weight: normal;
                    }
                    .form-signin .form-control {
                        position: relative;
                        height: auto;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 10px;
                        font-size: 16px;
                    }
                    .form-signin .form-control:focus {
                        z-index: 2;
                    }
                    .form-signin input[type="email"] {
                        margin-bottom: -1px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                    .form-signin input[type="password"] {
                        margin-bottom: 10px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                </style>



                <h1> </h1>


      <div class="form-signin">
                   

                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="username" class="sr-only">User Name</label>
                        <span class="form-control">
                        <p:inputText  id="username" value="#{loginBean.username}"  required="true"  placeholder="User Name"  />
                     </span>

                        <label for="inputPassword" class="sr-only">Password</label>
                         <span class="form-control"> 
                        <p:password  id="password" placeholder="Password" value="#{loginBean.password}" required="true" />
                         </span>
                         <span class=" btn btn-lg btn-primary btn-block"> 
                        <h:commandButton  value="Login"  action="#{loginBean.validateCredentials}"/>
                      </span>

                </div> <!-- /container -->

                <div class="alert alert-danger" role="alert"> Invalid Credentials, Please contact your system administrator.</div>



            </ui:define>




        </body>
    </ui:composition>

</html>


