<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <ui:composition template="masterGuestTemplate.xhtml">
        <body>
            
            <ui:define name="content">
                <f:view contentType="text/html">
                    
                    <p:gmap center="35.7607980, -78.6324310" zoom="17" type="HYBIRD"
                                style="width:1050px;height:425px"  
                                model="#{addMarkersView.emptyModel}" 
                                onPointClick="handlePointClick(event);" 
                                widgetVar="map" />
                </f:view>
                    
                
                <f:view contentType="text/html">

                    <script type="text/javascript">
                        
                        var currentMarker = null;

                        function handlePointClick(event) {
                            
                            if(currentMarker === null) {
                                
                                document.getElementById('lat').value = event.latLng.lat();
                                document.getElementById('lng').value = event.latLng.lng();
                                
                                alert("before setting currentMarker");

                                currentMarker = new google.maps.Marker({
                                    position:new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                                });
                                
                                alert("after setting currentMarker");

                                PF('map').addOverlay(currentMarker);

                                PF('dlg').show();
                                
                            } //if(currentMarker === null)
                            
                        } //handlePointClick
                        
                    </script>
                    
                </f:view>
            </ui:define>

        </body>
    </ui:composition>

</html>

