<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link rel="icon" href="#{resource['images:favcon.ico']}" type="image/x-icon" />

            <script src="http://maps.google.com/maps/api/js?sensor=false" 
            type="text/javascript"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
            <h:outputStylesheet library="css" name="bootstrap.min.css"  />
            <h:outputStylesheet library="css" name="carousel.css"  />
            <h:outputStylesheet library="css" name="custom.css"  />
            <h:outputStylesheet library="css" name="animate.css"  />
            <ui:insert name="stylesheets"></ui:insert>
            <ui:insert name="javascripts"></ui:insert>
            <title><ui:insert name="title">Home</ui:insert></title>
            <script>
                function viewMobile() {
                    top.location.href = "#{facesContext.externalContext.requestContextPath}/faces/mobile/default.xhtml";
                }
                function openSocialSite(site) {
                    location.href = site;
                }
            </script>
        </h:head>

        <h:body>

            <h:form id="guestForm">
                <div class="IconImageContainer border">
                    <p>

                        <div class="bannertext">

                            <span class="animated bounce insetType">Christ Our King Community Church</span>

                            <div class="bannderImage">
                                <img src="#{resource['images:hand.gif']}" class="imagetext" />
                                "We exist to build broken people into blessed people who live, learn,
                                <br/>and 
                                lead together as a new community."

                            </div>
                        </div>


                    </p>
                </div> <!-- end of IconImageContainer div -->


                <div class="Container border">




                    <div class="HeaderWeb">

                        <div> <!-- menu div -->
                            <ul class="nav nav-pills custom">
                                <ui:insert name="menuitems">
                                    <li role="presentation" class="active"><h:link value="Home" outcome="default" /></li>
                                    <li role="presentation" ><h:link value="Sermons" outcome="podcast" /></li>
                                    <li role="presentation"><h:link value="Calendar" outcome="schedules" /></li>
                                    <li role="presentation"><h:link value="Register" outcome="register" /></li>
                                    <li role="presentation"><h:link value="Contact" outcome="contactus" /></li>
                                    <li role="presentation"><h:link value="Donate" outcome="donatewrapper" /></li>
                                    <li role="presentation"><h:link value="Upcoming Events" outcome="eventlist" /></li>


                                    <div class="icons" style="margin-top: 8px">

                                        <span id="clickableAwesomeFont" class="change-icon" onclick="openSocialSite('http://www.youtube.com/watch?v=nZ-OPZpW2lk');">
                                            <i class="fa fa-youtube circle "></i>
                                            <i class="fa fa-youtube circle fa-3x"></i>

                                        </span>  
                                        <span class="change-icon" onclick="openSocialSite('https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020');">
                                            <i class="fa fa-facebook circle"></i>
                                            <i class="fa fa-facebook circle fa-3x"></i>
                                        </span>
                                        <span class="change-icon" onclick="openSocialSite('http://cokcc.podomatic.com/');">
                                            <i class="fa fa-rss circle"></i>
                                            <i class="fa fa-rss circle fa-3x"></i>
                                        </span>
                                        <span class="change-icon" onclick="javascript:viewMobile()">
                                            <i class="fa fa-mobile circle"></i>
                                            <i class="fa fa-mobile circle fa-3x"></i>
                                        </span>
                                    </div>



                                    <li class="pull-right" role="presentation"><h:link value="Sign In" outcome="login" /></li>
                                </ui:insert>
                            </ul>

                        </div> <!-- end of menu div -->



                        <br />

                    </div> <!-- end of Header div -->


                    <div class="min-height"></div>


                    <div class="Middle">

                        <div class="Content">
                            <ui:insert name="content">
                            </ui:insert>
                        </div> <!-- end of content div-->


                    </div><!-- end of Middle div -->


                    <div class="Footer">
                        <footer>

                            <div class="container">
                                <div class="row vertical-divider" style="margin-top: 8px;">
                                    <div class="col-md-4">
                                        <div style="margin-left: 5px; float: left; margin-top: 4px">
                                            <h4>CONTACT US</h4>

                                            <table>
                                                <tr>
                                                    <td class="contact"><span>Our Address:</span></td>
                                                    <td>1500 Garner Road</td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td>Raleigh, NC 27610</td>
                                                </tr>
                                                <tr>
                                                    <td><span>Phone:</span></td>
                                                    <td>(919) 838-4848</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div><!-- end of first col -->
                                    <div class="col-md-4">

                                        <div class="icons" style="margin-top: 4px">

                                            <table>
                                                <caption class="socialmediatitle">STAY CONNECTED</caption>
                                                <tr>
                                                    <td class="contact">
                                                        See  and hear our sermons online.

                                                    </td>
                                                    <td>
                                                        <span id="clickableAwesomeFont" class="change-icon" onclick="openSocialSite('http://www.youtube.com/watch?v=nZ-OPZpW2lk');">
                                                            <i class="fa fa-youtube circle fa-2x"></i>
                                                            <i class="fa fa-youtube circle fa-3x"></i>

                                                        </span> 
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="contact"> Talk with us on FaceBook:</td>
                                                    <td>
                                                        <span class="change-icon" onclick="openSocialSite('https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020');">
                                                            <i class="fa fa-facebook circle fa-2x"></i>
                                                            <i class="fa fa-facebook circle fa-3x"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="contact">Listen to our sermons online.</td>
                                                    <td>
                                                        <span class="change-icon" onclick="openSocialSite('http://cokcc.podomatic.com/');">
                                                            <i class="fa fa-rss circle fa-2x"></i>
                                                            <i class="fa fa-rss circle fa-3x"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="contact">View Mobile on your smart device.</td>
                                                    <td>
                                                        <span class="change-icon" onclick="javascript:viewMobile()">
                                                            <i class="fa fa-mobile circle fa-2x"></i>
                                                            <i class="fa fa-mobile circle fa-3x"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div><!--end of 2nd column -->
                                    <div class="col-md-4">
                                        <div  style="margin-top: 8px; margin-left: 0px">

                                            <img  align="left" src="#{resource['images:cokcc.gif']}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <a href="#">©2004 Christ Our King Community Church. All Rights Reserved.</a>




                        </footer>
                    </div> <!-- end of Footer div -->

                </div><!-- end of container div" -->

            </h:form>

        </h:body>
    </f:view>

</html>
