<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>Registration</title>
    </h:head>

    <h:body>
        <h:form>  
            <p:menubar>
                <p:menuitem value="Organizations" url="/faces/index.xhtml"/>
                <p:menuitem value="Departments" url="/faces/departments.xhtml"/>
                <p:menuitem value="Categories" url="/faces/categories.xhtml"/>
                <p:menuitem value="Services" url="/faces/services.xhtml"/>
                <p:menuitem value="Users" url="/faces/registerusers.xhtml"/>
                <p:menuitem value="Devices" url="/faces/devices.xhtml"/>
      
            </p:menubar>
        </h:form>
        <div id="top" class="top">
            <ui:insert name="top">Top</ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>

</html>
