<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="icon" href="http://cokcc.org/images/favicon.ico" type="image/x-icon" />
             <script>
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-80348517-2', 'auto');
                ga('send', 'pageview');

            </script>






            <script src="http://cokcc.org/js/jquery.min.js" 
            type="text/javascript"></script>

            
            
            <link rel="stylesheet" href="http://cokcc.org/css/guesttemplate.css"/>
            <link rel="stylesheet" href="http://cokcc.org/css/guestcommon.css"/>
            
            <h:outputStylesheet library="css" name="bootstrap.min.css"  />
<script src="http://cokcc.org/js/bootstrap.min.js"></script>



            <ui:insert name="stylesheets"></ui:insert>
            <ui:insert name="javascripts"></ui:insert>
            <title><ui:insert name="title">Home</ui:insert></title>
            <script>
                function viewMobile() {
                    top.location.href = "#{facesContext.externalContext.requestContextPath}/faces/mobile/default.xhtml";
                }
                function openSocialSite(site) {
                    top.location.href = site;
                }

                function view(youtubeURL) {
                    top.location.href = youtubeURL;
                }
            </script>
        </h:head>

        <h:body>






            <h:form id="guestForm">





                <div>
                    <div class="HeaderWeb">
                        <!-- Fixed navbar -->
                        <nav class="navbar navbar-default navbar-fixed-top">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav" id="navbar-navId">

                                        <li><h:link value="HOME" outcome="default" /></li>

                                        <li class="dropdown" id="dropdownId1">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT US <span class="caret"></span></a>
                                            <ul class="dropdown-menu">


                                                <li><h:link class="nav-child" value="Our Story" outcome="about" /></li>
                                                <li><h:link value="Our Beliefs" outcome="belief" /></li>


                                                <li><h:link value="Our Leaders" outcome="smallgroupleaders" /></li>
                                                <li role="separator" class="divider"></li>
                                                <li><h:link value="Common Questions" outcome="commonquestions" /></li>

                                                <li><h:link value="Find Us" outcome="directions" /></li>


                                            </ul>
                                        </li>


                                        <li><h:link  value="I'M NEW" outcome="firstvisit" /></li>








                                        <!-- start ministries menu -->
                                        <li class="dropdown" id="MINISTRIESid">

                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MINISTRIES <span class="caret"></span></a>

                                            <ul class="dropdown-menu">
                                                <ui:repeat var="category" value="#{categoryBean.categoryMenuList}" varStatus="status">

                                                    <li class="dropdown-submenu">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{category.name}</a>
                                                        <ul class="dropdown-menu">
                                                            <ui:repeat var="department" value="#{category.departments}" varStatus="status">

                                                                <li>
                                                                    <h:link value="#{department.name}" class="nav-child" outcome="ministry">

                                                                        <f:param name="id"  value="#{department.departmentId}"/>

                                                                    </h:link>
                                                                </li>

                                                            </ui:repeat>
                                                        </ul>
                                                    </li>
                                                </ui:repeat>
                                            </ul>
                                        </li>

                                        <li><h:link value="CONTACT US" outcome="register" /></li>

                                        <!-- end ministries yearscheduleSpecial menu -->

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EVENTS <span class="caret"></span></a>
                                            <ul class="dropdown-menu">

                                                <li> 
                                                    <h:link value="All" outcome="calendar" > 
                                                        
                                                    </h:link>
                                                </li>
                                                <li>
                                                    <h:link value="Featured" outcome="yearscheduleSpecial" >
                                                        <f:param name="eventType"  value="special"/>
                                                    </h:link>
                                                </li>
                                                <li> 
                                                    <h:link value="General" outcome="yearschedule" > 
                                                        <f:param name="eventType"  value="general"/>
                                                    </h:link>
                                                </li>


                                            </ul>

                                        </li>
                                        <!-- end media menu -->
                                        <li class="dropdown" id="MEDIAid">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MEDIA <span class="caret"></span></a>
                                            <ul class="dropdown-menu">


                                                <li><h:link value="Sermons" outcome="podcast" /></li>
                                                <li><h:link value="Videos" outcome="youtubelist" /></li>


                                            </ul>
                                        </li>


                                        <li><h:link value="GIVE" outcome="donatewrapper" /></li>

                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><h:link value="LOGIN" outcome="login" /></li>

                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </nav>





                    </div> <!-- end of Header div -->

                    <style>

                        
                    </style>

                    <div class="container-fluid headerBackground" id="socialId">

                        <div class="row-fluid valign">
                            <div class="col-xs-2 headerBackground-imagelogo" >
                                <h:link outcome="default" ><img  src="http://cokcc.org/images/logoTwo.png"/></h:link>

                            </div>
                            <div class="col-sm-7  hidden-phone">
                                <div class="row headerChurchName">
                                    Christ Our King Community Church

                                </div>

                                <div class="row headChurchSubTitle">
                                    Brokenness to Blessedness
                                </div>
                            </div>
                            <div class="socialIcons col-sm-3 hidden-phone" >
                                <div class="col-md-1">
                                    <a href="#" title="YouTube" onclick="openSocialSite('https://www.youtube.com/channel/UC6YFdyS2cGDmjLe8y7CtGVA');" >
                                        <img src="http://cokcc.org/images/youtube.png" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-md-offset-1">
                                    <a href="#" title="Facebook" onclick="openSocialSite('https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020');" >
                                        <img src="http://cokcc.org/images/facebook.png" />
                                    </a>
                                </div>
                                <div class="col-md-1 col-md-offset-1">
                                    <a href="#" title="Podcast" onclick="openSocialSite('http://cokcc.podomatic.com/');" >
                                        <img src="http://cokcc.org/images/audio.png" />
                                    </a>
                                </div>  
                                <div class="col-md-1 col-md-offset-1">
                                    <a href="#" title="Twitter" onclick="openSocialSite('https://twitter.com/cokccrdu');" >
                                        <img src="http://cokcc.org/images/twitter.png" />
                                    </a>
                                </div>  

                            </div>

                        </div>
                        <div class="row-fluid">
                            <div class="col-xs-2"></div>
                            <ui:insert name="pageheader">
                                <div class="col-sm-12 headerMissionText hidden-phone">
                                    <div class="row">
                                        <span>LIVE</span>
                                        <span>|</span>
                                        <span>LEARN</span>
                                        <span>|</span>
                                        <span>LEAD</span>
                                         
                                    </div>
                                </div>
                            </ui:insert>

                        </div>
                    </div>     

                    <span id="middleId">
                        <ui:insert name="content">
                        </ui:insert>
                    </span>




                    <!-- end header Short Section end -->
                    <footer class="text-muted  hidden-phone" id="last-footer">
                        <section>
                            <div class="row">
                                <div class="col-md-9 span20">
                                    <a href="#">
                                        <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="font-size:1em;">
                                <div class="container">
                                    <div class="col-sm-4 footlinks">
                                        <h5>About Us</h5>
                                        <ul class="noBullets">
                                            <li>
                                                <h:link value="History" outcome="about" />
                                            </li>
                                            <li>
                                                <h:link value="Find Us" outcome="directions" />
                                            </li>
                                            <li>
                                                <h:link value="Faculty" outcome="directions" />
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-4 footlinks">
                                        <h5>Join Us</h5>
                                        <ul class="noBullets">
                                            <li><a href="#"  onclick="openSocialSite('https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020');">FaceBook</a></li>
                                            <li><a href="#" onclick="openSocialSite('https://twitter.com/cokccrdu');">Twitter</a></li>
                                            <li><a href="#" onclick="openSocialSite('http://cokcc.podomatic.com/');" >Podcast</a></li>
                                            <li><a href="#" onclick="openSocialSite('https://www.facebook.com/pages/Christ-Our-King-Community-Church/169414039860020');">YouTube</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4 footlinks">
                                        <h5>Stay Connected</h5>
                                        <ul class="noBullets">
                                            <li>

                                                <h:link value="Latest News" outcome="yearschedule" />


                                            </li>
                                            <li>
                                                <h:link value="Sermon Archive" outcome="podcast" />
                                                <h:link value="VIDEOS" outcome="youtubelist" />



                                            </li>
                                            <li>

                                                <h:link value="Watch Sermon" outcome="youtubelist" />

                                            </li>

                                        </ul>
                                    </div>







                                </div><!--/.container--> 
                            </div><!--/.row outer--> 



                        </section>
                    </footer>	
                    <footer id="bottom-footer-id">	

                        <script>

                            $('#MINISTRIESid').on('hide.bs.dropdown', function(e) {
                                document.getElementById("middleId").style.opacity = 1;
                                document.getElementById("last-footer").style.opacity = 1;
                                document.getElementById("bottom-footer-id").style.opacity = 1;
                                document.getElementById("socialId").style.opacity = 1;
                                // alert('aaaa The dropdown is about to be hidden.');
                            });
                            $('#MEDIAid').on('hide.bs.dropdown', function(e) {
                                document.getElementById("middleId").style.opacity = 1;
                                document.getElementById("last-footer").style.opacity = 1;
                                document.getElementById("bottom-footer-id").style.opacity = 1;
                                document.getElementById("socialId").style.opacity = 1;
                                // alert('aaaa The dropdown is about to be hidden.');
                            });
                            $('#menudropdown2').on('hide.bs.dropdown', function(e) {
                                document.getElementById("middleId").style.opacity = 1;
                                document.getElementById("last-footer").style.opacity = 1;
                                document.getElementById("bottom-footer-id").style.opacity = 1;
                                document.getElementById("socialId").style.opacity = 1;
                                // alert('aaaa The dropdown is about to be hidden.');
                            });

                            $('#dropdownId1').on('hide.bs.dropdown', function(e) {
                                document.getElementById("middleId").style.opacity = 1;
                                document.getElementById("last-footer").style.opacity = 1;
                                document.getElementById("bottom-footer-id").style.opacity = 1;
                                document.getElementById("socialId").style.opacity = 1;
                                // alert('aaaa The dropdown is about to be hidden.');
                            });
                            $('#dropdownId2').on('hide.bs.dropdown', function(e) {
                                document.getElementById("middleId").style.opacity = 1;
                                document.getElementById("last-footer").style.opacity = 1;
                                document.getElementById("bottom-footer-id").style.opacity = 1;
                                document.getElementById("socialId").style.opacity = 1;
                                // alert('aaaa The dropdown is about to be hidden.');
                            });
                            $('#dropdownId3').on('hide.bs.dropdown', function(e) {
                                document.getElementById("middleId").style.opacity = 1;
                                document.getElementById("last-footer").style.opacity = 1;
                                document.getElementById("bottom-footer-id").style.opacity = 1;
                                document.getElementById("socialId").style.opacity = 1;
                                // alert('aaaa The dropdown is about to be hidden.');
                            });
                            $('#dropdownId4').on('hide.bs.dropdown', function(e) {
                                document.getElementById("middleId").style.opacity = 1;
                                document.getElementById("last-footer").style.opacity = 1;
                                document.getElementById("bottom-footer-id").style.opacity = 1;
                                document.getElementById("socialId").style.opacity = 1;

                                // alert('aaaa The dropdown is about to be hidden.');
                            });
                            $(function() {
                                $('#navbar-navId').on('show.bs.dropdown', function() {
                                    document.getElementById("middleId").style.opacity = 0.2;
                                    document.getElementById("last-footer").style.opacity = 0.2;
                                    document.getElementById("bottom-footer-id").style.opacity = 0.2;
                                    document.getElementById("socialId").style.opacity = 0.2;


                                    // alert('Come on lets show the dropdown!!');
                                });
                            });




                        </script>
                        <div class="container-fuild">
                            <div class="row-fuild">
                                <div class="address">
                                    1500 Garner Road 
                                    |
                                    Raleigh, NC 27610
                                    |
                                    (919) 838-4848
                                    |
                                    admin@cokcc.org



                                </div>
                            </div>
                        </div>
                    </footer>



                </div>

            </h:form>

        </h:body>
    </f:view>

</html>
