<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
              <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />
                 <h:outputStylesheet library="css" name="guestdefault.css"  />
                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
            </ui:define>
            <ui:define name="javascripts">
                <h:outputScript library="js" name="bootstrap.min.js" />
                <h:outputScript library="js" name="docs.min.js" />
                <h:outputScript library="js" name="tooltip.js" />
                <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />

            </ui:define>

        </head>
        <body>
            <ui:define name="content">

                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>
    
 <ui:repeat var="event" value="#{eventBean.filterEventList}" varStatus="status">

                  <div class="container">
                      <h1>#{event.name} </h1>
          
                      <i style="padding-top: 10px">#{event.date}</i>
                      <br/>
                      <i>#{event.location}</i>
                      <div class="row">
                          <div class="col-md-12">
                               <img style="float:left; margin-right:10px;" src="#{event.department.iconstring}"/>
                               
                              <div style="padding-top: 10px; font-size: 14px; margin-left: 46px;width: 930px">#{event.generalInformation}</div>
                 
                          </div>
                      </div> 
                  </div>
         </ui:repeat>

            </ui:define>

        </body>
    </ui:composition>

</html>

