<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterGuestTemplate.xhtml">
      
        <ui:define name="stylesheets">

            <h:outputStylesheet library="css" name="jplayer.pink.flag.css"  />
            <h:outputStylesheet library="css" name="prettify-jPlayer.css"  />
        </ui:define>
        <ui:define name="javascripts">
            <h:outputScript library="js" name="jquery-1.11.1.min.js" />
            <h:outputScript library="js" name="jquery.jplayer.inspector.js" />
            <h:outputScript library="js" name="jquery.jplayer.min.js" />
            <h:outputScript library="js" name="jplayer.playlist.min.js" /> 
            <h:outputScript library="js" name="themeswitcher.js" /> 
            <script type="text/javascript">
//<![CDATA[
                $(document).ready(function() {

                    new jPlayerPlaylist({
                        jPlayer: "#jquery_jplayer_1",
                        cssSelectorAncestor: "#jp_container_1"
                    }, [
                        {
                            title: "A difficult time",
                            mp3: "http://k007.kiwi6.com/hotlink/xeth840awr/A_Difficult_Choice.mp3"
                        },
                        {
                            title: "A good father",
                            mp3: "http://k007.kiwi6.com/hotlink/wvr3dchznm/A_Good_Father.mp3"
                        },
                        {
                            title: "A life Worth Living",
                            mp3: "http://k007.kiwi6.com/hotlink/wovc8uigko/A_Life_Worth_Living.mp3"
                        },
                        {
                            title: "Careful Living",
                            mp3: "http://k007.kiwi6.com/hotlink/q53ap080qt/Careful_LIving.mp3"
                        },
                        {
                            title: "Do you need to take a detour",
                            mp3: "http://k007.kiwi6.com/hotlink/warrs43y64/Do_You_Need_To_Take_A_Detour.mp3"
                        },
                        {
                            title: "Living deeply",
                            mp3: "http://k007.kiwi6.com/hotlink/kq7izrcn1p/Living_Deeply.mp3"
                        },
                        {
                            title: "Living from the Heart",
                            mp3: "http://k007.kiwi6.com/hotlink/2gw37de65c/Living_From_The_Heart.mp3"
                        },
                        {
                            title: "It Matters How You Start",
                            mp3: "http://k007.kiwi6.com/hotlink/s0iz7n95x5/It_Matters_How_You_Start.mp3"

                        },
                        {
                            title: "Hating the right things",
                            mp3: "http://k007.kiwi6.com/hotlink/on5uhk1oep/Hating_The_Right_Things.mp3"
                        },
                        {
                            title: "Fearless Lving",
                            mp3: "http://k007.kiwi6.com/hotlink/bjs8l188f0/Fearless_Living.mp3"
                        },
                        {
                            title: "Failure to forgive",
                            mp3: "http://k007.kiwi6.com/hotlink/0l6hsho72w/Failure_To_Forgive.mp3"
                        },
                        {
                            title: "Facing  your giants",
                            mp3: "http://k007.kiwi6.com/hotlink/vms8i9xco2/Facing_Your_Giants.mp3"
                        },
                        {
                            title: "Fools are not funny",
                            mp3: "http://k007.kiwi6.com/hotlink/h7v3p8qp6y/cokcc_2014-09-15T05_23_25-07_00.mp3"

                        }
                    ], {
                        swfPath: "../js",
                        supplied: "oga, mp3",
                        wmode: "window",
                        smoothPlayBar: true,
                        keyEnabled: true
                    });

                    $("#jplayer_inspector_1").jPlayerInspector({jPlayer: $("#jquery_jplayer_1")});
                });
//]]>
            </script>

        </ui:define>
        <body>

            <ui:define name="content">
                <div>
                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                    <div class="right">The Truth That Hurts And Heals
God wants us to have a “good conscience” that is, a conscience that does not condemn us in God’s presence and in the presence of others.  Repeated sin defiles the conscience.
We are (1) prone to addictions and (2) there are many causes of addictions and (3) cycles of failure thrive with accessibility, secrecy, deception, escape, hopelessness and shame.
Jesus spoke of the religious leaders of His day as being slaves to sin.  Freedom comes by hard truths.
                    </div>
                </div>
                <div id="jp_container_1" class="jp-audio">
                    <div class="jp-type-playlist">
                        <div class="jp-gui jp-interface">
                            <ul class="jp-controls">
                                <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
                                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                                <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                                <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                            </ul>
                            <div class="jp-progress">
                                <div class="jp-seek-bar">
                                    <div class="jp-play-bar"></div>

                                </div>
                            </div>
                            <div class="jp-volume-bar">
                                <div class="jp-volume-bar-value"></div>
                            </div>
                            <div class="jp-current-time"></div>
                            <div class="jp-duration"></div>
                            <ul class="jp-toggles">
                                <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                                <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                            </ul>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                        <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                        </div>
                    </div>
                </div>



            </ui:define>


        </body>
    </ui:composition>
</html>
