<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootsnipp.css"  />

            </ui:define>

        </head>
        <body>
            <ui:define name="content">

                <div class="form-horizontal">


                    <h2 class="form-signin-heading">Registration Notice</h2>

                    <p>

                        Thank you #{preferenceBean.registeredUser.username} for your registration. Please select
                        the categories you want to receive electronic  notifications.


                    </p>
                    <p:panel>
                        <p:dataTable id="checkboxDT" var="category" value="#{preferenceBean.categoryList}" selection="#{preferenceBean.selectedCategories}" rowKey="#{category.categoryId}" style="margin-bottom:0">
                            <f:facet name="header">
                                Categories
                            </f:facet>
                            <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                            <p:column headerText="Name">
                                <h:outputText value="#{category.name}" />
                            </p:column>
                           
                            <f:facet name="footer">
                                <p:commandButton value="Submit" action="#{preferenceBean.add}" />
                            </f:facet>
                        </p:dataTable>
                    </p:panel>

                </div> <!-- /container -->





            </ui:define>




        </body>
    </ui:composition>

</html>


