<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pm="http://primefaces.org/mobile"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
               
                <link rel="stylesheet" href="http://cokcc.org/css/guestregistration.css"/>
               
            </ui:define>
            
        </head>
        <body>

            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    Contact Us
                </div>

            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

                <div class="container-fluid pageChildSection about-header"> 


                    <div class="form-group row-fluid">
                        <label for="username" class="col-sm-2 col-form-label"><label class="control-label"  for="username">Username</label></label>
                        <div class="col-sm-10">
                            <p:inputText  styleClass="form-control" requiredMessage="Enter user name" id="username" value="#{registerBean.userName}"  required="true"   >
                                <f:validator validatorId="web.validator.UsernameValidator" />
                            </p:inputText>
                            <h:message for="username" style="color:red" />
                            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                        </div>
                    </div>
                    <div class="form-group row-fluid">
                        <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                        <div class="col-sm-10">
                            <p:inputText styleClass="form-control" id="email"
                                         value="#{registerBean.emailOne}" required="true"
                                         requiredMessage="Enter your email">
                                <f:validator validatorId="web.validator.EmailValidator" />
                            </p:inputText>
                            <h:message for="email" style="color:red" />
                            <p class="help-block">Please provide your E-mail</p>

                        </div>
                    </div>
                    <div class="form-group row-fluid">
                        <label for="email_confirm" class="col-sm-2 col-form-label">Email
                            (Confirm)</label>
                        <div class="col-sm-10">
                            <p:inputText styleClass="form-control" id="email_confirm"
                                         requiredMessage="Enter your email" required="true">
                                <f:validator validatorId="web.validator.EmailMatchValidator" />

                            </p:inputText>
                            <h:message for="email_confirm" style="color:red" />

                            <p class="help-block">Please confirm email</p>
                            <h:message for="email" style="color:red" />
                        </div>
                    </div>
                    <div class="form-group row-fluid">
                        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">

                            <p:inputMask styleClass="form-control" id="phone" mask="(999) 999-9999"
                                         value="#{registerBean.phone}" required="true"
                                         requiredMessage="Please enter your phone." />

                            <h:message for="phone" style="color:red" />



                            <p class="help-block">Please provide your Phone Number</p>

                        </div>
                    </div>
                    <div class="form-group row-fluid">
                        <label for="Phone_confirm" class="col-sm-2 col-form-label">Phone (Confirm)</label>
                        <div class="col-sm-10">


                            <p:inputMask styleClass="form-control" mask="(999) 999-9999"  id="Phone_confirm"   required="true" requiredMessage="Please enter your phone."   >
                                <f:validator validatorId="web.validator.PhoneMatchValidator" />

                            </p:inputMask>
                            <h:message for="Phone_confirm" style="color:red" />

                            <p class="help-block">Please confirm phone number</p>
                        </div>
                    </div>
                    <div class="form-group row-fluid">
                        <label for="phoneCarrier" class="col-sm-2 col-form-label">Phone Carrier</label>
                        <div class="col-sm-10">

                            <pm:field>
                                <p:selectOneMenu id="carrier" value="#{registerBean.phoneCarrier}" required="true" requiredMessage="Please select a carrier.">
                                    <f:selectItem itemLabel="Select Carrier"  noSelectionOption="true"/>
                                    <f:selectItem itemValue="@mms.att.net" itemLabel="ATT" />
                                    <f:selectItem itemValue="@txt.bellmobility.ca" itemLabel="Bell Mobility" />
                                    <f:selectItem itemValue="@mobile.celloneusa.com" itemLabel="Cellular One" />
                                    <f:selectItem itemValue="@messaging.sprintpcs.com" itemLabel="Sprint" />
                                    <f:selectItem itemValue="@tmomail.net" itemLabel="T-Mobile" />
                                    <f:selectItem itemValue="@email.uscc.net" itemLabel="US Cellular" />         
                                    <f:selectItem itemValue="@vtext.com" itemLabel="Verizon" />
                                </p:selectOneMenu>
                            </pm:field>
                            <h:message for="carrier" style="color:red" />



                            <p class="help-block">Please provide your Phone Number Carrier</p>
                        </div>
                    </div>
                    <div class="form-group row-fluid">
                        <label for="preferred" class="col-sm-2 col-form-label">Preferred Method of Contact</label>
                        <div class="col-sm-10">

                            <p:selectOneRadio  id="preferred" required="true" value="#{registerBean.notificationMethod}" 
                                              requiredMessage="Select Preferred Method of Contact">  
                                <f:selectItem itemLabel="Phone" itemValue="phone" />  
                                <f:selectItem itemLabel="Email" itemValue="email" />  

                            </p:selectOneRadio>
                            <h:message for="preferred" style="color:red" />

                        </div>
                    </div>

                    <div class="form-group row-fluid">
                        <div class="offset-sm-2 col-sm-10">
                            <h:commandButton style="font-size: 1em;" value="Register" class="btn btn-default btn-lg btn_overload"  action="#{registerBean.sendRegistration}"/>
                        </div>
                    </div>

                </div>









            </ui:define>




        </body>
    </ui:composition>

</html>


