<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" 
                template="masterGuestTemplate.xhtml">
         <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />
                 <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
                 <h:outputStylesheet library="css" name="guestschedules.css"  />
            </ui:define>
            <ui:define name="javascripts">
                <h:outputScript library="js" name="bootstrap.min.js" />
                <h:outputScript library="js" name="docs.min.js" />
                <h:outputScript library="js" name="tooltip.js" />
                <h:outputScript library="js" name="ie10-viewport-bug-workaround.js" />

            </ui:define>

        </head>
    <ui:define name="content">
         <p:lightBox iframe="true" id="lighbox3"></p:lightBox>

        <p:panel>
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputLabel for="startDate" value="Start Date:" />
                <p:calendar id="startDate" value="#{findEventBean.startDate}" showOn="button" />
                <h:outputLabel for="endDate" value="End Date:" />
                <p:calendar id="endDate" value="#{findEventBean.endDate}" showOn="button" />
            </h:panelGrid>
        </p:panel>
        <p:panel>
            <p:dataTable id="checkboxDT" var="department" value="#{findEventBean.departments}" selection="#{findEventBean.selectedDepartments}" rowKey="#{department.id}" style="margin-bottom:0">
                <f:facet name="header">
                    Select Departments
                </f:facet>
                <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                <p:column headerText="Id">
                    <h:outputText value="#{department.id}" />
                </p:column>
                <p:column headerText="Name">
                    <h:outputText value="#{department.name}" />
                </p:column>
                <p:column headerText="Description">
                    <h:outputText value="#{department.generalInformation}" />
                </p:column>
                <p:column headerText="Email">
                    <h:outputText value="#{department.email}" />
                </p:column>
                <f:facet name="footer">
                    <!-- checkboxDT -->
                    <h:commandButton actionListener="#{findEventBean.createEvents}"  action="#{findEventBean.goToResults}" value="View" />
                </f:facet>
            </p:dataTable>
        </p:panel>


    </ui:define>


</ui:composition>



