<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>

            <ui:define name="stylesheets">
               
                <link rel="stylesheet" href="http://cokcc.org/css/guestsmallgroupleaders.css"/>
               



            </ui:define>
          

        </head>
        <body>
            <ui:define name="pageheader">
                <div class="col-sm-7 insideTitle">
                    Small Group Leaders
                </div>

            </ui:define>
            <ui:define name="content">


                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>


 
 





                <div class="container smallgroup">

                    <div class="row">


                        <div class="col-xs-4 text-center" >


                            <img src="http://cokcc.org/images/CliffCharlott.jpg" />
                            <p>Cliff &amp; Charlotte James</p>

                        </div>

                        <div class="col-xs-4 text-center" >

                            <img src="http://cokcc.org/images/JamesSharon.png" />
                            <p>James &amp; Sharon Rittman</p>


                        </div>
                        <div class="col-xs-4 text-center" >

                            <img src="http://cokcc.org/images/Adams_small.png" />

                            <p>Colin &amp; Shonte Adams</p>

                        </div>



                    </div><!-- end of row 1 -->

                    <div class="row rowTop">

                        <div class="col-xs-4 text-center" >


                            <img src="http://cokcc.org/images/Alexander_small.jpg" />
                            <p>Rodney &amp; Latonya Alexander</p>

                        </div>

                        <div class="col-xs-4 text-center" >

                            <img src="http://cokcc.org/images/ShermanToccara.jpg" />
                            <p>Sherman &amp; Toccara Smith</p>


                        </div>
                        <div class="col-xs-4 text-center" >

                            <img src="http://cokcc.org/images/Johnsons_small.jpg" />
                            <p>Cameron &amp; Chasity Johnson</p>


                        </div>





                    </div><!-- end of row 2-->
                      <div class="row rowTop">

                        <div class="col-xs-4 text-center" >


                            <img src="http://cokcc.org/images/McLean_small.jpg" />
                            <p>Jame &amp; Beth McLean</p>

                        </div>

                        <div class="col-xs-4 text-center" >

                            <img src="http://cokcc.org/images/Charles_small.jpg" />
                            <p>Ruel Charles</p>


                        </div>
                        <div class="col-xs-4 text-center" >


                        </div>





                    </div><!-- end of row 2-->




                </div>




            </ui:define>

        </body>
    </ui:composition>

</html>


