<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootsnipp.css"  />

            </ui:define>

        </head>
        <body>
            <ui:define name="content">

                <div class="form-horizontal">


                    <h2 class="form-signin-heading">Registration Notice</h2>

                    <p>
                        
                        Thank you #{activationBean.registeredUser.username} for your registration. You will be receiving 
                        event notification messages to your phone (#{activationBean.registeredUser.phone}).
                       
                        
                    </p>

                </div> <!-- /container -->





            </ui:define>




        </body>
    </ui:composition>

</html>


