<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">
        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootsnipp.css"  />

            </ui:define>

        </head>
        <body>
            <ui:define name="content">

                <div class="form-horizontal">


                    <h2 class="form-signin-heading">Registration Notice</h2>

                    <p>
                        
                        An email with instructions on how to proceed with  your registration has been sent to 
                        #{registerBean.emailOne} you specified when you created this account. The email will contain a "token" 
                        that is valid for 24 hours only, so don't delay! Please check your email in a few minutes to proceed. 
                        If you do not get an email it may be because you did not enter a valid username or email. 
                        Please contact your administrator 
                        if you think there is an error. Note that you are allowed only one password reset in a 24 hour period.
                       
                        
                    </p>

                </div> <!-- /container -->





            </ui:define>




        </body>
    </ui:composition>

</html>


