<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="icon" href="http://cokcc.org/images/favicon.ico" type="image/x-icon" />
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=EB+Garamond"/>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic' rel='stylesheet' type='text/css'/>
            <script>
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-80348517-2', 'auto');
                ga('send', 'pageview');

            </script>
            <script src="http://maps.google.com/maps/api/js?sensor=false" 
            type="text/javascript"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
            <h:outputStylesheet library="css" name="bootstrap.min.css"  />

            <ui:insert name="stylesheets"></ui:insert>
            <ui:insert name="javascripts"></ui:insert>
            <title><ui:insert name="title">Home</ui:insert></title>

        </h:head>
        <body>
            <!-- ====== Header Section ====== -->
            <header id="top">
                <div class="bg-color">
                    <div class="top section-padding">
                        <div class="container">
                            <div class="row">

                                <div class="col-sm-7 col-md-7">
                                    <div class="content">
                                        <h1><strong>Blue App</strong> Template</h1>
                                        <h2>One page Responsive HTML5 parallax business landing page</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique autem, atque in voluptatibus repellat nostrum iusto architecto vel placeat numquam omnis assumenda.</p>
                                        <div class="button" id="download-app1">
                                            <a href="#download" class="btn btn-default btn-lg custom-btn"><i class="fa fa-cloud-download"></i>Download App</a>
                                        </div> <!-- end .button -->
                                    </div> <!-- end .content -->
                                </div> <!-- end .top > .container> .row> .col-md-7 -->

                                <div class="col-sm-5 col-md-5">
                                    <div class="photo-slide">
                                        <div id="carousel" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel" data-slide-to="1" class=""></li>
                                                <li data-target="#carousel" data-slide-to="2" class=""></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item">
                                                    <img src="http://cokcc.org/images/simthree.png" alt=""/>
                                                </div>
                                                <div class="item active left">
                                                    <img src="http://cokcc.org/images/simthree.png" alt=""/>
                                                </div>
                                                <div class="item next left">
                                                    <img src="http://cokcc.org/images/simthree.png" alt=""/>
                                                </div>
                                            </div> <!-- end .carousel-inner -->
                                        </div> <!-- end #carousel -->
                                    </div> <!-- end .photo-slide -->
                                </div> <!-- end .top > .container> .row> .col-md-5 -->

                            </div> <!-- end .top> .container> .row -->
                        </div> <!-- end .top> .container -->
                    </div> <!-- end .top -->
                </div> <!-- end .bg-color -->
            </header>
        </body>
</html>
