<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>
            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />

                <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />
                <link rel="stylesheet" href="http://cokcc.org/css/guestdefault.css"/>
                <link rel="stylesheet" href="http://cokcc.org/css/guestyearschedule.css"/>

              

            </ui:define>
            

        </head>
        <body>
            <ui:define name="pageheader">
                 <div class="col-sm-7 insideTitle">
                    All Events
                </div>
              
            </ui:define>
            <ui:define name="content">
                <p:lightBox iframe="true" id="lighbox3"></p:lightBox>


                <div class="container-fluid center-block pageChildSection">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-3">
                            <ul class="pagination pagination-lg">
                                <li>
                                    <h:link value="Jan" outcome="yearscheduleAll">

                                        <f:param name="id"  value="1"/>
                                         <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Feb" outcome="yearscheduleAll">

                                        <f:param name="id"  value="2"/>
                                         <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Mar" outcome="yearscheduleAll">

                                        <f:param name="id"  value="3"/>
                                         <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Apr" outcome="yearscheduleAll">

                                        <f:param name="id"  value="4"/>
                                         <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="May" outcome="yearscheduleAll">

                                        <f:param name="id"  value="5"/>
                                         <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Jun" outcome="yearscheduleAll">

                                        <f:param name="id"  value="6"/>
                                      <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Jul" outcome="yearscheduleAll">

                                        <f:param name="id"  value="7"/>
                                        <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Aug" outcome="yearscheduleAll">

                                        <f:param name="id"  value="8"/>
                                         <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Sept" outcome="yearscheduleAll">

                                        <f:param name="id"  value="9"/>
                                        <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Oct" outcome="yearscheduleAll">

                                        <f:param name="id"  value="10"/>
                                        <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Nov" outcome="yearscheduleAll">

                                        <f:param name="id"  value="11"/>
                                       <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Dec" outcome="yearscheduleAll">

                                        <f:param name="id"  value="12"/>
                                     <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="All" outcome="yearscheduleAll">

                                        <f:param name="id"  value="99"/>
                                       <f:param name="eventType"  value="all"/>

                                    </h:link>
                                </li>


                            </ul>
                        </div>
                    </div>


                </div>



                <ui:repeat var="event" value="#{yearEventBean.monthEvent}" varStatus="status">

                    <div class="container">



                        <div class="row well" >
                            <div class="col-md-4">
                                <img src="#{event.image}" class="img-responsive"/>
                            </div>
                            <div class="col-md-8">  
                                <h3>#{event.name}</h3>
                                <p><i>#{event.location} </i>
                                    <i>#{event.date}</i> 
                                </p>
                                <p>#{event.generalInformation}</p>
                            </div>
                        </div>

                    </div>
                </ui:repeat>
                <h:panelGroup rendered="#{empty yearEventBean.monthEvent}">

                    <div class="container-fluid hidden-phone">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-5"> 
                                <h2> No Events</h2>
                            </div>
                        </div> 
                    </div>
                </h:panelGroup>

                <div class="container-fluid center-block">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-3">
                            <ul class="pagination pagination-lg">
                                <li>
                                    <h:link value="Jan" outcome="yearschedule">

                                        <f:param name="id"  value="1"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Feb" outcome="yearschedule">

                                        <f:param name="id"  value="2"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Mar" outcome="yearschedule">

                                        <f:param name="id"  value="3"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Apr" outcome="yearschedule">

                                        <f:param name="id"  value="4"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="May" outcome="yearschedule">

                                        <f:param name="id"  value="5"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Jun" outcome="yearschedule">

                                        <f:param name="id"  value="6"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Jul" outcome="yearschedule">

                                        <f:param name="id"  value="7"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Aug" outcome="yearschedule">

                                        <f:param name="id"  value="8"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Sept" outcome="yearschedule">

                                        <f:param name="id"  value="9"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Oct" outcome="yearschedule">

                                        <f:param name="id"  value="10"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Nov" outcome="yearschedule">

                                        <f:param name="id"  value="11"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="Dec" outcome="yearschedule">

                                        <f:param name="id"  value="12"/>

                                    </h:link>
                                </li>
                                <li>
                                    <h:link value="All" outcome="yearschedule">

                                        <f:param name="id"  value="99"/>

                                    </h:link>
                                </li>


                            </ul>
                        </div>
                    </div>


                </div>

            </ui:define>

        </body>
    </ui:composition>

</html>

