<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="masterGuestTemplate.xhtml">

        <head>

            <ui:define name="stylesheets">
                <h:outputStylesheet library="css" name="bootstrap.min.css"  />
                <link rel="stylesheet" href="http://cokcc.org/css/guestpodcast.css"/>
                <link rel="stylesheet" href="http://cokcc.org/css/guestdefault.css"/>
             


            
            </ui:define>
           

        </head>
        <body>
                <ui:define name="pageheader">
                     <div class="col-sm-7 insideTitle">
                    Videos
                </div>
                 
               </ui:define>
            <ui:define name="content">


           <p:lightBox iframe="true" id="lighbox3"></p:lightBox>





                <div class="container podcast">

                    <div class="row">

                        <ui:repeat var="youtube" value="#{youTubeBean.firstRow}" varStatus="status">
                            <div class="col-xs-4 text-center well" >



                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/#{youtube.youTubeID}"></iframe>
                                </div>




                                <p>#{youtube.title}</p>

                                <p>#{youtube.published}</p>


                            </div>
                        </ui:repeat>




                    </div><!-- end of row 1 -->

                    <div class="row">

                        <ui:repeat var="youtube" value="#{youTubeBean.secondRow }" varStatus="status">
                            <div class="col-xs-4 text-center well" >



                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/#{youtube.youTubeID}"></iframe>
                                </div>




                                <p>#{youtube.title}</p>

                                <p>#{youtube.published}</p>


                            </div>
                        </ui:repeat>




                    </div><!-- end of row 2-->




                </div>




            </ui:define>

        </body>
    </ui:composition>

</html>


