<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>COKCC Player</title>
   
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <h:outputStylesheet library="css" name="bootstrap.min.css"  />


        <h:outputStylesheet library="css" name="bootstrap-responsive.css"  />






        <style>
            .embed-container {
                width: 500px;
                height: 375px;
                overflow: hidden;
                position: relative;
            }
            .mask {
                position: absolute;
                width: 500px;
                height: 50px;
                background-color: red;
                z-index: 1;
            }
            .top {
                top: 0;
            }
            .bottom {
                bottom: 0;
            }
        </style>

    </h:head>
    <body>
<!--
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/#{youTubeBean.id}"></iframe>
        </div> 
-->

    </body>
</html>
