<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 

    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Add Organization </h1>
            </ui:define>

            <ui:define name="content">               
                <h:form  id="form">

                    <p:panel id="panelOrg" header="Please fill in all fields and click Add">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">

                            <h:outputLabel value="Name:" style="font-weight: bold"/>
                            <h:inputText id="nameInputText" 
                                         required="true" 
                                         style="width: 300px"
                                         value="#{organizationBean.organization.name}" 
                                         requiredMessage="Please enter name" 
                                         validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" maximum="40" />
                            </h:inputText>

                            <h:outputLabel value="Email:" style="font-weight: bold"/>
                            <h:inputText id="emailInputText" 
                                         required="true" 
                                         style="width: 300px;" 
                                         value="#{organizationBean.organization.email}" 
                                         requiredMessage="Please enter email" 
                                         validatorMessage="Invalid email format">
                                <f:validateLength minimum="3" maximum="40" />
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                            </h:inputText>

                            <h:outputLabel value="Location:" style="font-weight: bold"/>
                            <h:inputText id="locationInputText" 
                                         required="true" 
                                         style="width: 300px;"
                                         value="#{organizationBean.organization.location}" 
                                         requiredMessage="Please enter location" 
                                         validatorMessage="Location must be greater than 3 and less than 60">
                                <f:validateLength minimum="3" maximum="60" />
                            </h:inputText>

                            <h:outputText value="Domain" style="font-weight: bold"/>
                            <h:inputText id="DomainInputText" 
                                         required="true" 
                                         style="width: 300px;"
                                         value="#{organizationBean.organization.domain}"
                                         requiredMessage="Please enter domain">
                            </h:inputText>

                            <h:outputLabel value="General Information" style="font-weight: bold"/>
                            <h:inputTextarea id="GeneralInformationInputText" 
                                             required="true" 
                                             rows="15" 
                                             cols="40"
                                             value="#{organizationBean.organization.generalInformation}"
                                             requiredMessage="Please enter general information">
                            </h:inputTextarea>

                            <h:outputText value="URL for Video" style="font-weight: bold"/>
                            <h:inputText id="VideoURLInputText" 
                                         required="true" 
                                         style="width: 300px;"
                                         value="#{organizationBean.organization.videoUrl}"
                                         requiredMessage="Please enter the URL for video">
                            </h:inputText>

                            <h:outputLabel value="Icon:" style="font-weight: bold"/>
                            <p:panelGrid columns="2">
                                <h:graphicImage id="IconImage"
                                                value="#{organizationBean.iconForAddString}" height="48px"/>
                                <p:fileUpload fileUploadListener="#{organizationBean.handleFileUploadOrganization}" 
                                              mode="advanced"
                                              auto="True" 
                                              update="IconImage" 
                                              sizeLimit="10000" 
                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            </p:panelGrid>
                        </h:panelGrid>

                        <p:commandButton process="@this" type="submit" value="Add" action="#{categoryBean.add}"/>

                    </p:panel>

                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>

