<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Add Service</h1>
            </ui:define>
            <ui:define name="content">


                <h:form  id="form">
                    <p:messages showDetail="true" autoUpdate="true"/>

                    <p:panel header="Please fill in all fields and click Add">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">
                            <h:outputText value="Name:"/>
                            <h:inputText id="nameInputText" required="true" value="#{serviceBean.service.name}" requiredMessage="Please enter name" validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" maximum="40" />
                            </h:inputText>

                            <h:outputText value="Phone:" style="font-weight: bold"/>
                            <p:inputMask mask="999-999-9999"  
                                         id="phone"
                                         value="#{serviceBean.service.phone}"
                                         required="true" 
                                         requiredMessage="Please enter your phone." 
                                         placeholder="Valid Phone"  >

                            </p:inputMask>

                            <h:outputLabel value="General Information" style="font-weight: bold"/>
                            <h:inputTextarea id="GeneralInformationInputText" required="true" 
                                             rows="15" cols="40"
                                             value="#{serviceBean.service.generalInformation}"
                                             requiredMessage="Please enter general information">
                            </h:inputTextarea>


                            <h:outputText value="Location:"/>
                            <h:inputText id="locationInputText" required="true" value="#{serviceBean.service.location}" requiredMessage="Please enter location" validatorMessage="Location must be greater than 3 and less than 40">
                                <f:validateLength minimum="6" maximum="50" />
                            </h:inputText>

                            <h:outputText value="Allowed Participants"/>
                            <h:inputText id="allowedParticipantInputText" required="true" value="#{serviceBean.service.allowedParticipant}" requiredMessage="Please enter the number of participants allowed" converterMessage="Allowed Participants must be a number">
                            </h:inputText>

                            <p:outputLabel for="startDateTimeCalendar" value="Start Date"></p:outputLabel>
                            <p:calendar id="startDateTimeCalendar" required="true" value="#{serviceBean.startDate}"  pattern="MM/dd/yyyy HH:mm:ss" requiredMessage="Please enter start date" />

                            <p:outputLabel for="endDateTimeCalendar" value="End Date"></p:outputLabel>
                            <p:calendar id="endDateTimeCalendar" required="true" value="#{serviceBean.endDate}" pattern="MM/dd/yyyy HH:mm:ss" requiredMessage="Please enter end date"/>

                            <h:outputText value="Department"/>
                            <h:selectOneListbox required="true" value="#{serviceBean.service.departmentId}" requiredMessage="Please select a department" >                               
                                <f:selectItems var="department" value="#{departmentBean.departmentList}" itemLabel="#{department.name}" itemValue="#{department.departmentId}"/>
                            </h:selectOneListbox>

                            <h:outputText value="Category"/>
                            <h:selectOneListbox required="true" value="#{serviceBean.service.categoryId}" requiredMessage="Please select a category">                               
                                <f:selectItems var="category" value="#{categoryBean.categoryList}" itemLabel="#{category.name}" itemValue="#{category.categoryId}"/>
                            </h:selectOneListbox>

                            <h:outputText value="Sunday " />
                            <p:selectBooleanCheckbox  id="SundayCheckbox" value="#{serviceBean.service.sundayFlag}"/>

                            <h:outputText value="Monday " />
                            <p:selectBooleanCheckbox value="#{serviceBean.service.mondayFlag}"/>

                            <h:outputText value="Tuesday " />
                            <p:selectBooleanCheckbox value="#{serviceBean.service.tuesdayFlag}"/>

                            <h:outputText value="Wednesday " />
                            <p:selectBooleanCheckbox value="#{serviceBean.service.wednesdayFlag}"/>

                            <h:outputText value="Thursday " />
                            <p:selectBooleanCheckbox value="#{serviceBean.service.thursdayFlag}"/>

                            <h:outputText value="Friday " />
                            <p:selectBooleanCheckbox value="#{serviceBean.service.fridayFlag}"/>

                            <h:outputText value="Saturday " />
                            <p:selectBooleanCheckbox value="#{serviceBean.service.saturdayFlag}"/>

                            <!--
                            <p:selectManyCheckbox id="daysOfWeekCheckbox" value="#{serviceBean.listSelectedDaysOfWeek}">
                                <f:selectItem itemLabel="Sunday" itemValue="#{serviceBean.service.sundayFlag}" />
                                <f:selectItem itemLabel="Monday" itemValue="#{serviceBean.service.mondayFlag}" />
                                <f:selectItem itemLabel="Tuesday" itemValue="#{serviceBean.service.tuesdayFlag}" />
                                <f:selectItem itemLabel="Wednesday" itemValue="#{serviceBean.service.wednesdayFlag}" />
                                <f:selectItem itemLabel="Thursday" itemValue="#{serviceBean.service.thursdayFlag}" />
                                <f:selectItem itemLabel="Friday" itemValue="#{serviceBean.service.fridayFlag}" />
                                <f:selectItem itemLabel="Saturday" itemValue="#{serviceBean.service.saturdayFlag}" />
                                
                                <f:validator validatorId="daysOfWeekValidator"/>
                            </p:selectManyCheckbox>
                            -->
                            <h:outputText value="Special Event" />
                 <p:selectBooleanCheckbox value="#{serviceBean.service.isSpecial}"/>

                           <h:outputText value="Image:"/>
                           <h:inputText size="50" id="imageInputText" value="#{serviceBean.service.image}" maxlength="245" >
                               

                            </h:inputText>
                        </h:panelGrid>
                        <p:commandButton type="submit" value="Add" action="#{serviceBean.add}" />
                    </p:panel>

                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

