
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"   
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="masterTemplate.xhtml">
    <ui:define name="top">
        <h1>Android Crash Reports</h1>
    </ui:define>
    <ui:define name="content">
        <p:dataTable id="radioDT" value="#{crashReportBean.crashs}" var="crash" selection="#{crashReportBean.selectedCrash}" rowKey="#{crash.crashId}">
            <p:column selectionMode="single" style="width:16px;text-align:center"/>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Creation Date</f:facet>
                <!-- row record -->
                <h:outputText value=" #{crash.createdDate}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Android Version</f:facet>
                <!-- row record -->
                <h:outputText value=" #{crash.androidVersion}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Application Version</f:facet>
                <!-- row record -->
                <h:outputText value=" #{crash.appVersionCode}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Brand</f:facet>
                <!-- row record -->
                <h:outputText value=" #{crash.brand}}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Package Name</f:facet>
                <!-- row record -->
                <h:outputText value=" #{crash.packageName}}" />

            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Phone Model</f:facet>
                <!-- row record -->
                <h:outputText value=" #{crash.phoneModel}" />

            </p:column>


            <f:facet name="header">
                <p:commandButton process="radioDT" 
                                 update=":adminForm:crashDetail" 
                                 icon="ui-icon-search" value="View" 
                                 oncomplete="PF('crashDialog').show()" />
                <p:commandButton type="submit" 
                                 value="Clear" 
                                 actionListener="#{crashReportBean.deleteActionListener()}"
                                 update=":adminForm:growlMsg radioDT"
                                 icon="ui-icon-delete" >
                    <p:confirm header="Delete Confirmation" message="Are you sure?" icon="ui-icon-alert" />                                             
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>                    
            </f:facet>

            <f:facet name="footer">
                <p:commandButton process="radioDT" 
                                 update=":adminForm:crashDetail" 
                                 icon="ui-icon-search" value="View" 
                                 oncomplete="PF('crashDialog').show()" />
                <p:commandButton type="submit" 
                                 value="Clear" 
                                 actionListener="#{crashReportBean.deleteActionListener()}"
                                 update=":adminForm:growlMsg radioDT"
                                 icon="ui-icon-delete" >
                    <p:confirm header="Delete Confirmation" message="Are you sure?" icon="ui-icon-alert" />                                             
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>                    
            </f:facet>

        </p:dataTable>

        <p:dialog header="Crash Info" widgetVar="crashDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
            <p:outputPanel id="crashDetail" style="text-align:center;">
                <p:panelGrid  columns="1" rendered="#{not empty crashReportBean.selectedCrash}" columnClasses="label,value">


                    <h:outputText value="Stack Trace:" />
                    <h:outputText value="#{crashReportBean.selectedCrash.stackTrace}" />

                    <h:outputText value="Log Cat:" />
                    <h:outputText value="#{crashReportBean.selectedCrash.logCat }" />

                </p:panelGrid>
            </p:outputPanel>
        </p:dialog>

    </ui:define>
</ui:composition>


