<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="masterTemplate.xhtml">

    <ui:define name="top">
        <h1>Departments</h1>
    </ui:define>

    <ui:define name="content">

        <p><p:commandButton value="Add" 
                            action="addDepartment" 
                            actionListener="#{departmentBean.addDepartmentInitializer}"/></p>

        <p:dataTable value="#{departmentBean.departmentExtenderList}" var="department" 
                     rowKey="#{department.departmentId}"
                     rowIndexVar="departmentlistindex"
                     selection="#{departmentBean.selectedDepartment}"
                     selectionMode="single">

            <p:ajax event="rowSelect" listener="#{departmentBean.onRowSelect}"/>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Organization Name</f:facet>
                <!-- row record -->
                <h:outputText value=" #{departmentBean.findByOrganizationId(department.organizationId)}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Department Name</f:facet>
                <!-- row record -->
                <h:outputText value="#{department.name}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Phone Number</f:facet>
                <!-- row record -->
                <h:outputText value="#{department.phone}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Email</f:facet>
                <!-- row record -->
                <h:outputText value="#{department.email}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Location</f:facet>
                <!-- row record -->
                <h:outputText value="#{department.location}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Latitude</f:facet>
                <!-- row record -->
                <h:outputText value="#{department.latitude}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Longitude</f:facet>
                <!-- row record -->
                <h:outputText value="#{department.longitude}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">General Information</f:facet>
                <!-- row record -->
                <h:outputText value="#{department.generalInformation}" />
            </p:column>
  <p:column style="text-align: center">
                <!-- column header -->
                <f:facet name="header">Display on Menu</f:facet>
                <!-- row record -->
                <h:outputText value=" #{department.displayOnMenu}" />
            </p:column>
            
            <p:column style="text-align: center">
                <!-- column header -->
                <f:facet name="header">Icon</f:facet>
                <!-- row record -->
                <img src="#{department.iconstring}" height="24px"/>
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Creation Date</f:facet>
                <!-- row record -->
                <h:outputText value=" #{department.createdDate}" />
            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Department Id</f:facet>
                <!-- row record -->
                <h:outputText value=" #{department.departmentId}" />
            </p:column>

        </p:dataTable>

    </ui:define>

</ui:composition>