<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="masterTemplate.xhtml">

    <ui:define name="top">
        <h1>Edit Organization </h1>
    </ui:define>

    <ui:define name="content">
        <p:panel header="All fields are required and must contain valid information">
            <h:panelGrid columns="2" style="height: 96px; width:456px;">

                <h:outputText value="Name:" style="font-weight: bold"/>
                <h:inputText id="nameInputText" 
                             required="true" 
                             style="width: 300px"
                             value="#{organizationBean.selectedOrganization.name}" 
                             requiredMessage="Please enter name" 
                             validatorMessage="Name must be greater than 3 and less than 40">
                    <f:validateLength minimum="3" maximum="40" />
                </h:inputText>

                <h:outputText value="Phone:" style="font-weight: bold"/>
                <p:inputMask mask="(999) 999-9999"  
                             id="phone"
                             value="#{organizationBean.selectedOrganization.phone}"
                             required="true" 
                             requiredMessage="Please enter your phone." 
                             placeholder="Valid Phone"  >

                </p:inputMask>

                <h:outputText value="Email:" style="font-weight: bold"/>
                <h:inputText id="emailInputText" 
                             required="true" 
                             style="width: 300px"
                             value="#{organizationBean.selectedOrganization.email}" 
                             requiredMessage="Please enter email" 
                             validatorMessage="Invalid email format">
                    <f:validateLength minimum="3" maximum="40" />
                    <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                </h:inputText>

                <h:outputText value="Location:" style="font-weight: bold"/>
                <h:inputText id="locationInputText" 
                             required="true" 
                             style="width: 300px"
                             value="#{organizationBean.selectedOrganization.location}" 
                             requiredMessage="Please enter location" 
                             validatorMessage="Name must be greater than 3 and less than 60">
                    <f:validateLength minimum="3" maximum="60" />  
                </h:inputText>

                <h:outputText value="Domain:" style="font-weight: bold"/>
                <h:inputText id="domainInputText" 
                             required="true" 
                             style="width: 300px"
                             value="#{organizationBean.selectedOrganization.domain}" 
                             requiredMessage="Please enter domain"> 
                </h:inputText>

                <h:outputLabel value="General Information:" style="font-weight: bold"/>
                <h:inputTextarea id="GeneralInformationInputText" 
                                 required="true" 
                                 rows="15" 
                                 cols="40"
                                 value="#{organizationBean.selectedOrganization.generalInformation}"
                                 requiredMessage="Please enter general information">
                </h:inputTextarea>

                <h:outputText value="URL for Video" style="font-weight: bold"/>
                <h:inputText id="VideoURLInputText" 
                             required="true" 
                             style="width: 300px;"
                             value="#{organizationBean.selectedOrganization.videoUrl}"
                             requiredMessage="Please enter the URL for video">
                </h:inputText>

                <h:outputText value="Icon:" style="font-weight: bold"/>
                <h:panelGrid columns="2">
                    <h:graphicImage id="IconImage"
                                    value="#{organizationBean.iconForEditString}" height="48px"/>
                    <p:fileUpload fileUploadListener="#{organizationBean.handleFileUploadOrganization}" 
                                  mode="advanced"
                                  update="IconImage"
                                  auto="True" 
                                  sizeLimit="10000" 
                                  allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                </h:panelGrid>
            </h:panelGrid>
            
            <p:commandButton type="submit" 
                             value="Update" 
                             action="#{organizationBean.update(organizationbean_selected_organization)}" />
            
            <p:commandButton type="submit" 
                             value="Delete"
                             update=":adminForm:growlMsg"
                             action="#{organizationBean.delete(organizationbean_selected_organization)}" >
                <p:confirm header="Delete Confirmation" 
                           message="Are you sure?" 
                           icon="ui-icon-alert" />                                             
            </p:commandButton>
            
            <p:commandButton type="submit" 
                             value="Cancel" 
                             action="organizations" />
            
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" 
                                 type="button" 
                                 styleClass="ui-confirmdialog-yes" 
                                 icon="ui-icon-check" />
                <p:commandButton value="No" 
                                 type="button" 
                                 styleClass="ui-confirmdialog-no" 
                                 icon="ui-icon-close" />
            </p:confirmDialog>
            
        </p:panel>
    </ui:define>
    
</ui:composition>
