<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 
    <h:head>
        <title>Edit Organization</title>
    </h:head>
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1>Edit Department </h1>
            </ui:define>
            <ui:define name="content">
                
                    <p:panel header="All fields are required and must contain valid information">
                        <h:panelGrid columns="2" style="height: 96px; width:456px;">

                            <h:outputText value="Organization:" style="font-weight: bold"/>
                            <h:outputText value="#{departmentBean.selectedDepartment.organizationName}"
                                          style="width: 300px"/>   

                            <h:outputText value="Name:" style="font-weight: bold"/>
                            <h:inputText id="nameInputText" 
                                         required="true" 
                                         style="width: 300px"
                                         value="#{departmentBean.selectedDepartment.name}" 
                                         requiredMessage="Please enter name" 
                                         validatorMessage="Name must be greater than 3 and less than 40">
                                <f:validateLength minimum="3" 
                                                  maximum="40" />
                            </h:inputText>

                            <h:outputText value="Email:" style="font-weight: bold"/>
                            <h:inputText id="emailInputText" 
                                         required="true" 
                                         style="width: 300px"
                                         value="#{departmentBean.selectedDepartment.email}" 
                                         requiredMessage="Please enter email" 
                                         validatorMessage="Invalid email format">
                                <f:validateLength minimum="6" maximum="50" />
                                <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                            </h:inputText>

                            <h:outputText value="Location:" style="font-weight: bold"/>
                            <h:inputText id="locationInputText" 
                                         required="true" 
                                         style="width: 300px"
                                         value="#{departmentBean.selectedDepartment.location}" 
                                         requiredMessage="Please enter address" 
                                         validatorMessage="Address must be greater than 3 and less than 60">
                                <f:validateLength minimum="3" maximum="60" />  
                            </h:inputText> 

                            <h:outputText value="General Information:" style="font-weight: bold"/>
                            <h:inputTextarea id="generalInformationInputText" 
                                             required="true" 
                                             rows="15" 
                                             cols="40"
                                             value="#{departmentBean.selectedDepartment.generalInformation}" 
                                             requiredMessage="Please enter general information">
                            </h:inputTextarea>

                            <h:outputText value="Icon:" style="font-weight: bold"/>
                            <p:panelGrid columns="2">
                                <h:graphicImage id="IconImage"
                                                value="#{departmentBean.iconForEditString}" height="48px"/>
                                <p:fileUpload fileUploadListener="#{departmentBean.handleFileUploadDepartment}" 
                                              mode="advanced"
                                              auto="True" 
                                              update="IconImage" 
                                              sizeLimit="10000" 
                                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            </p:panelGrid>
                        </h:panelGrid>
                        <h:commandButton type="submit" value="Update" action="#{departmentBean.update}" />
                        <h:commandButton type="submit" value="Delete" action="#{departmentBean.delete(departmentbean_selected_department)}" />
                        <h:commandButton type="submit" value="Cancel" action="departments" />
                    </p:panel>

         
            </ui:define>
        </ui:composition>
    </body>
</html>

