<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="masterTemplate.xhtml">

    <ui:define name="top">
        <h1>Edit Service </h1>
    </ui:define>

    <ui:define name="content">
        <p:messages showDetail="true" autoUpdate="true"/>

        <p:panel header="All fields are required and must contain valid information">
            <h:panelGrid columns="2" style="height: 96px; width:456px;">

                <h:outputText value="Name:"/>
                <h:inputText id="nameInputText" required="true" value="#{serviceBean.selectedService.name}" requiredMessage="Please enter name" validatorMessage="Name must be greater than 3 and less than 40">
                    <f:validateLength minimum="3" maximum="40" />
                </h:inputText>

                <h:outputText value="Phone:" style="font-weight: bold"/>
                <p:inputMask mask="999-999-9999"  
                             id="phone"
                             value="#{serviceBean.selectedService.phone}"
                             required="true" 
                             requiredMessage="Please enter your phone." 
                             placeholder="Valid Phone"  >

                </p:inputMask>

                <h:outputLabel value="General Information:"/>
                <h:inputTextarea id="GeneralInformationInputText" required="true" 
                                 rows="15" 
                                 cols="40"
                                 value="#{serviceBean.selectedService.generalInformation}"
                                 requiredMessage="Please enter general information">
                </h:inputTextarea>

                <h:outputText value="Location:"/>
                <h:inputText id="locationInputText" required="true" value="#{serviceBean.selectedService.location}" requiredMessage="Please enter location" validatorMessage="Location must be greater than 3 and less than 40">
                    <f:validateLength minimum="6" maximum="50" />
                </h:inputText>

                <h:outputText value="Allowed Participants"/>
                <h:inputText id="allowedParticipantInputText" required="true" value="#{serviceBean.selectedService.allowedParticipant}" requiredMessage="Please enter the number of participants allowed" converterMessage="Allowed Participants must be a number">
                </h:inputText>

                <p:outputLabel for="startDateTimeCalendar" value="Start Date"></p:outputLabel>
                <p:calendar id="startDateTimeCalendar" value="#{serviceBean.selectedStartDate}" pattern="MM/dd/yyyy HH:mm:ss" />

                <p:outputLabel for="endDateTimeCalendar" value="End Date"></p:outputLabel>
                <p:calendar id="endDateTimeCalendar" value="#{serviceBean.selectedEndDate}" pattern="MM/dd/yyyy HH:mm:ss" />

                <h:outputText value="Department"/>
                <h:selectOneListbox required="true" value="#{serviceBean.selectedService.departmentId}">                               
                    <f:selectItems var="department" value="#{departmentBean.departmentList}" itemLabel="#{department.name}" itemValue="#{department.departmentId}"/>
                </h:selectOneListbox>

                <h:outputText value="Category"/>
                <h:selectOneListbox required="true" value="#{serviceBean.selectedService.categoryId}">                               
                    <f:selectItems var="category" value="#{categoryBean.categoryList}" itemLabel="#{category.name}" itemValue="#{category.categoryId}"/>
                </h:selectOneListbox>                            

                <h:outputText value="Sunday " />
                <p:selectBooleanCheckbox  id="SundayCheckbox" value="#{serviceBean.selectedService.sundayFlag}"/>

                <h:outputText value="Monday " />
                <p:selectBooleanCheckbox value="#{serviceBean.selectedService.mondayFlag}"/>

                <h:outputText value="Tuesday " />
                <p:selectBooleanCheckbox value="#{serviceBean.selectedService.tuesdayFlag}"/>

                <h:outputText value="Wednesday " />
                <p:selectBooleanCheckbox value="#{serviceBean.selectedService.wednesdayFlag}"/>

                <h:outputText value="Thursday " />
                <p:selectBooleanCheckbox value="#{serviceBean.selectedService.thursdayFlag}"/>

                <h:outputText value="Friday " />
                <p:selectBooleanCheckbox value="#{serviceBean.selectedService.fridayFlag}"/>

                <h:outputText value="Saturday " />
                <p:selectBooleanCheckbox value="#{serviceBean.selectedService.saturdayFlag}"/>
                 <h:outputText value="Special Event" />
                 <p:selectBooleanCheckbox value="#{serviceBean.selectedService.isSpecial}"/>

                <h:outputText value="Image:"/>
                <h:inputText maxlength="245" size="50" id="imageInputText" value="#{serviceBean.selectedService.image}" >


                </h:inputText>
            </h:panelGrid>  

            <p:commandButton type="submit" value="Update" action="#{serviceBean.update(serviceBean.selectedService)}"  />
            <p:commandButton type="submit" value="Copy" action="#{serviceBean.copy(service)}"  />


            <p:commandButton type="submit" 
                             value="Delete" 
                             action="#{serviceBean.delete(service)}" >
                <p:confirm header="Delete Confirmation" 
                           message="Are you sure?" 
                           icon="ui-icon-alert" />                                             
            </p:commandButton>

            <p:commandButton type="submit" value="Cancel" action="services" />

            <p:confirmDialog global="true" 
                             showEffect="fade" 
                             hideEffect="fade">
                <p:commandButton value="Yes" 
                                 type="button" 
                                 styleClass="ui-confirmdialog-yes" 
                                 icon="ui-icon-check" />
                <p:commandButton value="No" 
                                 type="button" 
                                 styleClass="ui-confirmdialog-no" 
                                 icon="ui-icon-close" />
            </p:confirmDialog>                    

        </p:panel>

    </ui:define>

</ui:composition>