<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >

    <body>
        <ui:composition template="masterTemplate.xhtml">

            <ui:define name="top">
                <h1>Organizations</h1>
            </ui:define>
            <ui:define name="content">

                <h:form>

                    <p>
                        <h:commandButton value="Add" 
                                         action="addOrganization" 
                                         actionListener="#{organizationBean.addOrganizationInitializer}" />
                    </p>
                </h:form>

                <h:form  id="form">
                    <p:dataTable value="#{organizationBean.organizationExtenderList}" var="organization"
                                 rowIndexVar="organizationlistindex"
                                 rowKey="#{organization.organizationId}"
                                 selection="#{organizationBean.selectedOrganization}"
                                 selectionMode="single" >

                        <p:ajax event="rowSelect" listener="#{organizationBean.onRowSelect(event)}"/>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Name</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.name}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Email</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.email}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Location</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.location}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Latitude</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.latitude}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Longitude</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.longitude}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Domain</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.domain}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">General Information</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.generalInformation}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">URL for Video</f:facet>
                            <!-- row record -->
                            <h:outputText value="#{organization.videoUrl}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Icon</f:facet>
                            <!-- row record -->
                            <p:graphicImage value="#{organizationBean.iconForList}"
                                            height="24px"
                                            cache="false" >
                                <f:param name="organizationIndex" value="#{organizationlistindex}" />
                            </p:graphicImage>
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Creation Date</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{organization.createdDate}" />
                        </p:column>

                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Id</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{organization.organizationId}" />
                        </p:column>

                    </p:dataTable>
                </h:form>

            </ui:define>
        </ui:composition>

    </body>
</html>


