
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"   
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 template="masterTemplate.xhtml">
    <ui:define name="top">
        <h1>Logs</h1>
    </ui:define>
    <ui:define name="content">
        <p:dataTable id="radioDT" value="#{logBean.logs}" var="log" selection="#{logBean.selectedLog}" rowKey="#{log.logId}" >
           <p:column selectionMode="single" style="width:16px;text-align:center"/>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Creation Date</f:facet>
                <!-- row record -->
                <h:outputText value=" #{log.timeEntered}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Message</f:facet>
                <!-- row record -->
                <h:outputText value=" #{log.message}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Source class</f:facet>
                <!-- row record -->
                <h:outputText value=" #{log.sourceClass}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Source Method</f:facet>
                <!-- row record -->
                <h:outputText value=" #{log.sourceMethod}" />

            </p:column>
            

           

            <f:facet name="footer">
              <p:commandButton process="radioDT" 
                                 update=":adminForm:logDetail" 
                                 icon="ui-icon-search" value="View" 
                                 oncomplete="PF('logDialog').show()" />
                <p:commandButton type="submit" 
                                 value="Clear" 
                                 actionListener="#{logBean.deleteActionListener()}"
                                 update=":adminForm:growlMsg radioDT"
                                 icon="ui-icon-delete" >
                    <p:confirm header="Delete Confirmation" message="Are you sure?" icon="ui-icon-alert" />                                             
                </p:commandButton>
                 <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>                  
            </f:facet>

        </p:dataTable>

          <p:dialog header="Log Info" widgetVar="logDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
            <p:outputPanel id="logDetail" style="text-align:center;">
                <p:panelGrid  columns="1" rendered="#{not empty logBean.selectedLog}" columnClasses="label,value">


                    <h:outputText value="Message:" />
                    <h:outputText value="#{logBean.selectedLog.message}" />

                  
                </p:panelGrid>
            </p:outputPanel>
        </p:dialog>

    </ui:define>
</ui:composition>


