<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet library="css" name="default.css"  />

            <title>Registration</title>
        </h:head>
        <h:body>

            <h:form id="adminForm"> 
                <p:growl id="growlMsg" showDetail="true" sticky="false"/>

                <p:menubar>
                    <p:menuitem value="Organizations" url="organizations.xhtml"/>
                    <p:menuitem value="Departments" url="departments.xhtml"/>
                    <p:menuitem value="Categories" url="categories.xhtml"/>
                    <p:menuitem value="Services" url="services.xhtml"/>
                    <p:menuitem value="Users" url="registerusers.xhtml"/>
                    <p:menuitem value="Devices" url="devices.xhtml"/>
                    <p:menuitem value="Crash" url="crashreports.xhtml"/>
                    <p:menuitem value="Logs" url="logs.xhtml"/>
                </p:menubar>

                <div id="top" class="top">
                    <ui:insert name="top">Top</ui:insert>
                </div>
                <div id="content" class="center_content">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </h:form>

        </h:body>
    </f:view>
</html>
