<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      > 
    <body>
        <ui:composition template="masterTemplate.xhtml">
            <ui:define name="top">
                <h1> Register Users </h1>
            </ui:define>
            <ui:define name="content">


                <h:form  id="form">

                    <p:dataTable value="#{RegisterUserBean.registerUsers}" var="user">
                        <p:column width="3">
                            <!-- column header -->
                            <f:facet name="header">ID</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.registeredUserId}" />

                        </p:column>
                        <p:column width="40px">
                            <!-- column header -->
                            <f:facet name="header">Email</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.email}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">User Name</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.username}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Phone</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.phone}" />

                        </p:column>
                        <p:column width="5px">
                            <!-- column header -->
                            <f:facet name="header">Notification Method</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.notificationmethod}" />

                        </p:column>
                        <p:column width="8px">
                            <!-- column header -->
                            <f:facet name="header">Status</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.status}" />

                        </p:column>
                        <p:column width="5px">
                            <!-- column header -->
                            <f:facet name="header">Code</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.activationCode}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Creation Date</f:facet>
                            <!-- row record -->
                            <h:outputText value=" #{user.createdDate}" />

                        </p:column>
                        <p:column>
                            <!-- column header -->
                            <f:facet name="header">Delete</f:facet>
                            <!-- row record -->
                              <h:commandLink value="Delete" action="#{RegisterUserBean.deleteAction(user)}" />

                        </p:column>
                      


                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>

