<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="masterTemplate.xhtml">

    <ui:define name="top">
        <h1>Services</h1>
    </ui:define>

    <ui:define name="content">

        <p><p:commandButton value="Add" action="addService" /></p>

        <p:dataTable value="#{serviceBean.serviceExtenderList}" var="service"
                     rowKey="#{service.serviceId}"
                     selection="#{serviceBean.selectedService}"
                     selectionMode="single">
            <p:ajax event="rowSelect" listener="#{serviceBean.onRowSelect}"/>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Service Name</f:facet>
                <!-- row record -->
                <h:outputText value="#{service.name}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">General Information</f:facet>
                <!-- row record -->
                <h:outputText value="#{service.generalInformation}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Location</f:facet>
                <!-- row record -->
                <h:outputText value="#{service.location}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Phone</f:facet>
                <!-- row record -->
                <h:outputText value="#{service.phone}" />

            </p:column>
            <p:column>
                <!-- column header -->
                <f:facet name="header">Allowed Participants</f:facet>
                <!-- row record -->
                <h:outputText value=" #{service.allowedParticipant}" />

            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Start Date</f:facet>
                <!-- row record -->
                <h:outputText value=" #{service.startDate}" />

            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">End Date</f:facet>
                <!-- row record -->
                <h:outputText value=" #{service.endDate}" />

            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Date Created</f:facet>
                <!-- row record -->
                <h:outputText value=" #{service.createdDate}" />

            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Days of Week</f:facet>
                <!-- row record -->
                <h:outputText value=" #{service.daysOfWeek}" />

            </p:column>

        </p:dataTable>


        <p:dataTable value="#{eventBean.eventList}" var="event">

            <p:column>
                <!-- column header -->
                <f:facet name="header">Event Name</f:facet>
                <!-- row record -->
                <h:outputText value="#{event.name}" />

            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">Start Date</f:facet>
                <!-- row record -->
                <h:outputText value="#{event.date}" />

            </p:column>

            <p:column>
                <!-- column header -->
                <f:facet name="header">End Date</f:facet>
                <!-- row record -->
                <h:outputText value="#{event.endDate}" />

            </p:column>

        </p:dataTable>

    </ui:define>

</ui:composition>